<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animations</key>
	<dict>
		<key>auraLightning</key>
		<dict>
			<key>delay</key>
			<real>0.07000000000000001</real>
			<key>frames</key>
			<array>
				<string>lightningAura0.png</string>
				<string>lightningAura1.png</string>
				<string>lightningAura2.png</string>
			</array>
		</dict>
		<key>effectLightning</key>
		<dict>
			<key>delay</key>
			<real>0.06</real>
			<key>frames</key>
			<array>
				<string>lightning0.png</string>
				<string>lightning1.png</string>
				<string>lightning2.png</string>
				<string>lightning3.png</string>
				<string>lightning4.png</string>
				<string>lightning5.png</string>
				<string>lightning6.png</string>
				<string>lightning7.png</string>
			</array>
		</dict>
		<key>firebomb</key>
		<dict>
			<key>delay</key>
			<real>0.06</real>
			<key>frames</key>
			<array>
				<string>explosionDirection0.png</string>
				<string>explosionDirection1.png</string>
				<string>explosionDirection2.png</string>
				<string>explosionDirection3.png</string>
				<string>explosionDirection4.png</string>
				<string>explosionDirection5.png</string>
				<string>explosionDirection6.png</string>
				<string>explosionDirection7.png</string>
			</array>
		</dict>
		<key>blueslash</key>
		<dict>
			<key>delay</key>
			<real>0.05</real>
			<key>frames</key>
			<array>
				<string>blueSlash0.png</string>
				<string>blueSlash1.png</string>
				<string>blueSlash2.png</string>
				<string>blueSlash3.png</string>
				<string>blueSlash4.png</string>
			</array>
		</dict>
		<key>workerAttack02</key>
		<dict>
			<key>delay</key>
			<real>0.1</real>
			<key>frames</key>
			<array>
				<string>workerAxeAttack0.png</string>
				<string>workerAxeAttack0.png</string>
				<string>workerAxeAttack1.png</string>
				<string>workerAxeAttack2.png</string>
			</array>
		</dict>
		<key>workerAttack0</key>
		<dict>
			<key>delay</key>
			<real>0.1</real>
			<key>frames</key>
			<array>
				<string>workerAxeAttack0.png</string>
				<string>workerAxeAttack0.png</string>
				<string>workerAxeAttack1.png</string>
				<string>workerAxeAttack2.png</string>
			</array>
		</dict>
		<key>workerAttack</key>
		<dict>
			<key>delay</key>
			<real>0.1</real>
			<key>frames</key>
			<array>
				<string>workerAxeAttack0.png</string>
				<string>workerAxeAttack0.png</string>
				<string>workerAxeAttack1.png</string>
				<string>workerAxeAttack2.png</string>
				<string>workerAxeStand0.png</string>
				<string>workerAxeStand1.png</string>
				<string>workerAxeStand0.png</string>
				<string>workerAxeStand1.png</string>
				<string>workerAxeStand0.png</string>
				<string>workerAxeStand1.png</string>
				<string>workerAxeStand0.png</string>
				<string>workerAxeStand1.png</string>
				<string>workerAxeStand0.png</string>
				<string>workerAxeStand1.png</string>
				<string>workerAxeStand0.png</string>
				<string>workerAxeStand1.png</string>
				<string>workerAxeStand0.png</string>
				<string>workerAxeStand1.png</string>
				<string>workerAxeStand0.png</string>
				<string>workerAxeStand1.png</string>
				<string>workerAxeStand0.png</string>
				<string>workerAxeStand1.png</string>
			</array>
		</dict>
		<key>workerStand</key>
		<dict>
			<key>delay</key>
			<real>0.1</real>
			<key>frames</key>
			<array>
				<string>workerAxeStand0.png</string>
				<string>workerAxeStand1.png</string>
			</array>
		</dict>
		<key>workerRun</key>
		<dict>
			<key>delay</key>
			<real>0.1</real>
			<key>frames</key>
			<array>
				<string>workerAxeRun0.png</string>
				<string>workerAxeStand0.png</string>
				<string>workerAxeRun0.png</string>
				<string>workerAxeRun1.png</string>
			</array>
		</dict>
		<key>workerGoldStand</key>
		<dict>
			<key>delay</key>
			<real>0.1</real>
			<key>frames</key>
			<array>
				<string>workerGoldStand0.png</string>
				<string>workerGoldStand1.png</string>
			</array>
		</dict>
		<key>workerWoodStand</key>
		<dict>
			<key>delay</key>
			<real>0.1</real>
			<key>frames</key>
			<array>
				<string>workerWoodStand0.png</string>
				<string>workerWoodStand1.png</string>
			</array>
		</dict>
		<key>workerGoldRun</key>
		<dict>
			<key>delay</key>
			<real>0.1</real>
			<key>frames</key>
			<array>
				<string>workerGoldRun0.png</string>
				<string>workerGoldStand0.png</string>
				<string>workerGoldRun0.png</string>
				<string>workerGoldRun1.png</string>
			</array>
		</dict>
		<key>workerWoodRun</key>
		<dict>
			<key>delay</key>
			<real>0.1</real>
			<key>frames</key>
			<array>
				<string>workerWoodRun0.png</string>
				<string>workerWoodStand0.png</string>
				<string>workerWoodRun0.png</string>
				<string>workerWoodRun1.png</string>
			</array>
		</dict>
		<key>orc workerAttack</key>
		<dict>
			<key>delay</key>
			<real>0.1</real>
			<key>frames</key>
			<array>
				<string>goblinAxeAttack0.png</string>
				<string>goblinAxeAttack0.png</string>
				<string>goblinAxeAttack1.png</string>
				<string>goblinAxeAttack2.png</string>
				<string>goblinAxeStand0.png</string>
				<string>goblinAxeStand1.png</string>
				<string>goblinAxeStand0.png</string>
				<string>goblinAxeStand1.png</string>
				<string>goblinAxeStand0.png</string>
				<string>goblinAxeStand1.png</string>
				<string>goblinAxeStand0.png</string>
				<string>goblinAxeStand1.png</string>
				<string>goblinAxeStand0.png</string>
				<string>goblinAxeStand1.png</string>
				<string>goblinAxeStand0.png</string>
				<string>goblinAxeStand1.png</string>
				<string>goblinAxeStand0.png</string>
				<string>goblinAxeStand1.png</string>
				<string>goblinAxeStand0.png</string>
				<string>goblinAxeStand1.png</string>
				<string>goblinAxeStand0.png</string>
				<string>goblinAxeStand1.png</string>
			</array>
		</dict>
		<key>orc workerStand</key>
		<dict>
			<key>delay</key>
			<real>0.1</real>
			<key>frames</key>
			<array>
				<string>goblinAxeStand0.png</string>
				<string>goblinAxeStand1.png</string>
			</array>
		</dict>
		<key>orc workerRun</key>
		<dict>
			<key>delay</key>
			<real>0.1</real>
			<key>frames</key>
			<array>
				<string>goblinAxeRun0.png</string>
				<string>goblinAxeStand0.png</string>
				<string>goblinAxeRun0.png</string>
				<string>goblinAxeRun1.png</string>
			</array>
		</dict>
		<key>orc workerGoldStand</key>
		<dict>
			<key>delay</key>
			<real>0.1</real>
			<key>frames</key>
			<array>
				<string>goblinGoldStand0.png</string>
				<string>goblinGoldStand1.png</string>
			</array>
		</dict>
		<key>orc workerWoodStand</key>
		<dict>
			<key>delay</key>
			<real>0.1</real>
			<key>frames</key>
			<array>
				<string>goblinWoodStand0.png</string>
				<string>goblinWoodStand1.png</string>
			</array>
		</dict>
		<key>orc workerGoldRun</key>
		<dict>
			<key>delay</key>
			<real>0.1</real>
			<key>frames</key>
			<array>
				<string>goblinGoldRun0.png</string>
				<string>goblinGoldStand0.png</string>
				<string>goblinGoldRun0.png</string>
				<string>goblinGoldRun1.png</string>
			</array>
		</dict>
		<key>orc workerWoodRun</key>
		<dict>
			<key>delay</key>
			<real>0.1</real>
			<key>frames</key>
			<array>
				<string>goblinWoodRun0.png</string>
				<string>goblinWoodStand0.png</string>
				<string>goblinWoodRun0.png</string>
				<string>goblinWoodRun1.png</string>
			</array>
		</dict>
		<key>helicopterStand</key>
		<dict>
			<key>delay</key>
			<real>0.1</real>
			<key>frames</key>
			<array>
				<string>helicopter0.png</string>
				<string>helicopter1.png</string>
			</array>
		</dict>
		<key>helicopterRun</key>
		<dict>
			<key>delay</key>
			<real>0.1</real>
			<key>frames</key>
			<array>
				<string>helicopter0.png</string>
				<string>helicopter1.png</string>
			</array>
		</dict>
		<key>helicopterAttack</key>
		<dict>
			<key>delay</key>
			<real>0.1</real>
			<key>frames</key>
			<array>
				<string>helicopter1.png</string>
				<string>helicopter0.png</string>
				<string>helicopter2.png</string>
				<string>helicopter1.png</string>
				<string>helicopter0.png</string>
				<string>helicopter1.png</string>
				<string>helicopter0.png</string>
				<string>helicopter1.png</string>
				<string>helicopter0.png</string>
				<string>helicopter1.png</string>
				<string>helicopter0.png</string>
				<string>helicopter1.png</string>
				<string>helicopter0.png</string>
				<string>helicopter1.png</string>
				<string>helicopter0.png</string>
				<string>helicopter1.png</string>
				<string>helicopter0.png</string>
				<string>helicopter1.png</string>
			</array>
		</dict>
		<key>swordmanStand</key>
		<dict>
			<key>delay</key>
			<real>0.1</real>
			<key>frames</key>
			<array>
				<string>swordmanStand0.png</string>
				<string>swordmanStand1.png</string>
			</array>
		</dict>
		<key>swordmanRun</key>
		<dict>
			<key>delay</key>
			<real>0.1</real>
			<key>frames</key>
			<array>
				<string>swordmanRun0.png</string>
				<string>swordmanStand0.png</string>
				<string>swordmanRun0.png</string>
				<string>swordmanRun1.png</string>
			</array>
		</dict>
		<key>swordmanAttack</key>
		<dict>
			<key>delay</key>
			<real>0.1</real>
			<key>frames</key>
			<array>
				<string>swordmanAttack0.png</string>
				<string>swordmanAttack0.png</string>
				<string>swordmanAttack1.png</string>
				<string>swordmanAttack1.png</string>
				<string>swordmanAttack0.png</string>
				<string>swordmanAttack0.png</string>
				<string>swordmanStand0.png</string>
				<string>swordmanStand1.png</string>
				<string>swordmanStand0.png</string>
				<string>swordmanStand1.png</string>
				<string>swordmanStand0.png</string>
				<string>swordmanStand1.png</string>
				<string>swordmanStand0.png</string>
				<string>swordmanStand1.png</string>
			</array>
		</dict>
		<key>orc spearStand</key>
		<dict>
			<key>delay</key>
			<real>0.1</real>
			<key>frames</key>
			<array>
				<string>orcSpearStand0.png</string>
				<string>orcSpearStand1.png</string>
				<string>orcSpearStand0.png</string>
				<string>orcSpearStand1.png</string>
				<string>orcSpearStand0.png</string>
				<string>orcSpearStand1.png</string>
				<string>orcSpearStand0.png</string>
				<string>orcSpearStand1.png</string>
				<string>orcSpearStand0.png</string>
				<string>orcSpearStand1.png</string>
				<string>orcSpearStand0.png</string>
				<string>orcSpearStand1.png</string>
				<string>orcSpearStand0.png</string>
				<string>orcSpearStand1.png</string>
				<string>orcSpearIdle2.png</string>
				<string>orcSpearIdle0.png</string>
				<string>orcSpearIdle1.png</string>
				<string>orcSpearIdle0.png</string>
				<string>orcSpearIdle1.png</string>
				<string>orcSpearIdle0.png</string>
				<string>orcSpearIdle1.png</string>
				<string>orcSpearIdle0.png</string>
				<string>orcSpearIdle1.png</string>
				<string>orcSpearIdle0.png</string>
				<string>orcSpearIdle1.png</string>
				<string>orcSpearIdle0.png</string>
				<string>orcSpearIdle1.png</string>
				<string>orcSpearIdle0.png</string>
				<string>orcSpearIdle1.png</string>
				<string>orcSpearIdle2.png</string>
				<string>orcSpearStand0.png</string>
				<string>orcSpearStand1.png</string>
				<string>orcSpearIdle2.png</string>
				<string>orcSpearIdle0.png</string>
				<string>orcSpearIdle1.png</string>
				<string>orcSpearIdle2.png</string>
			</array>
		</dict>
		<key>orc spearRun</key>
		<dict>
			<key>delay</key>
			<real>0.1</real>
			<key>frames</key>
			<array>
				<string>orcSpearRun0.png</string>
				<string>orcSpearStand0.png</string>
				<string>orcSpearRun1.png</string>
				<string>orcSpearStand0.png</string>
			</array>
		</dict>
		<key>orc spearAttack</key>
		<dict>
			<key>delay</key>
			<real>0.1</real>
			<key>frames</key>
			<array>
				<string>orcSpearAttack0.png</string>
				<string>orcSpearAttack0.png</string>
				<string>orcSpearAttack1.png</string>
				<string>orcSpearAttack2.png</string>
				<string>orcSpearAttack2.png</string>
				<string>orcSpearStand0.png</string>
				<string>orcSpearStand1.png</string>
				<string>orcSpearStand0.png</string>
				<string>orcSpearStand1.png</string>
				<string>orcSpearStand0.png</string>
				<string>orcSpearStand1.png</string>
				<string>orcSpearStand0.png</string>
				<string>orcSpearStand1.png</string>
				<string>orcSpearStand0.png</string>
				<string>orcSpearStand1.png</string>
				<string>orcSpearStand0.png</string>
				<string>orcSpearStand1.png</string>
				<string>orcSpearStand0.png</string>
				<string>orcSpearStand1.png</string>
				<string>orcSpearStand0.png</string>
				<string>orcSpearStand1.png</string>
				<string>orcSpearStand0.png</string>
				<string>orcSpearStand1.png</string>
				<string>orcSpearStand0.png</string>
				<string>orcSpearStand1.png</string>
				<string>orcSpearStand0.png</string>
				<string>orcSpearStand1.png</string>
				<string>orcSpearStand0.png</string>
				<string>orcSpearStand1.png</string>
				<string>orcSpearStand0.png</string>
				<string>orcSpearStand1.png</string>
				<string>orcSpearStand0.png</string>
			</array>
		</dict>
		<key>orc axeStand</key>
		<dict>
			<key>delay</key>
			<real>0.1</real>
			<key>frames</key>
			<array>
				<string>orcAxeStand0.png</string>
				<string>orcAxeStand1.png</string>
			</array>
		</dict>
		<key>orc axeRun</key>
		<dict>
			<key>delay</key>
			<real>0.1</real>
			<key>frames</key>
			<array>
				<string>orcAxeRun0.png</string>
				<string>orcAxeStand0.png</string>
				<string>orcAxeRun0.png</string>
				<string>orcAxeRun1.png</string>
			</array>
		</dict>
		<key>orc axeAttack</key>
		<dict>
			<key>delay</key>
			<real>0.1</real>
			<key>frames</key>
			<array>
				<string>orcAxeAttack0.png</string>
				<string>orcAxeAttack0.png</string>
				<string>orcAxeAttack1.png</string>
				<string>orcAxeAttack2.png</string>
				<string>orcAxeAttack0.png</string>
				<string>orcAxeAttack0.png</string>
				<string>orcAxeStand0.png</string>
				<string>orcAxeStand1.png</string>
				<string>orcAxeStand0.png</string>
				<string>orcAxeStand1.png</string>
				<string>orcAxeStand0.png</string>
				<string>orcAxeStand1.png</string>
				<string>orcAxeStand0.png</string>
				<string>orcAxeStand1.png</string>
				<string>orcAxeStand0.png</string>
				<string>orcAxeStand1.png</string>
				<string>orcAxeStand0.png</string>
				<string>orcAxeStand1.png</string>
				<string>orcAxeStand0.png</string>
				<string>orcAxeStand1.png</string>
				<string>orcAxeStand0.png</string>
				<string>orcAxeStand1.png</string>
				<string>orcAxeStand0.png</string>
				<string>orcAxeStand1.png</string>
				<string>orcAxeStand0.png</string>
				<string>orcAxeStand1.png</string>
				<string>orcAxeStand0.png</string>
			</array>
		</dict>
		<key>archerStand</key>
		<dict>
			<key>delay</key>
			<real>0.1</real>
			<key>frames</key>
			<array>
				<string>archerStand0.png</string>
				<string>archerStand1.png</string>
			</array>
		</dict>
		<key>archerRun</key>
		<dict>
			<key>delay</key>
			<real>0.1</real>
			<key>frames</key>
			<array>
				<string>archerRun0.png</string>
				<string>archerRun2.png</string>
				<string>archerRun0.png</string>
				<string>archerRun1.png</string>
			</array>
		</dict>
		<key>archerAttack</key>
		<dict>
			<key>delay</key>
			<real>0.1</real>
			<key>frames</key>
			<array>
				<string>archerAttack0.png</string>
				<string>archerAttack0.png</string>
				<string>archerAttack0.png</string>
				<string>archerAttack1.png</string>
				<string>archerAttack1.png</string>
				<string>archerAttack1.png</string>
				<string>archerAttack1.png</string>
				<string>archerAttack1.png</string>
				<string>archerAttack1.png</string>
				<string>archerStand0.png</string>
				<string>archerStand1.png</string>
				<string>archerStand0.png</string>
				<string>archerStand1.png</string>
				<string>archerStand0.png</string>
				<string>archerStand1.png</string>
				<string>archerStand0.png</string>
				<string>archerStand1.png</string>
				<string>archerStand0.png</string>
				<string>archerStand1.png</string>
			</array>
		</dict>
		<key>goblinStand</key>
		<dict>
			<key>delay</key>
			<real>0.1</real>
			<key>frames</key>
			<array>
				<string>goblinStand0.png</string>
				<string>goblinStand1.png</string>
			</array>
		</dict>
		<key>goblinRun</key>
		<dict>
			<key>delay</key>
			<real>0.1</real>
			<key>frames</key>
			<array>
				<string>goblinRun0.png</string>
				<string>goblinStand0.png</string>
				<string>goblinRun1.png</string>
				<string>goblinStand1.png</string>
			</array>
		</dict>
		<key>goblinAttack</key>
		<dict>
			<key>delay</key>
			<real>0.1</real>
			<key>frames</key>
			<array>
				<string>goblinAttack0.png</string>
				<string>goblinAttack1.png</string>
				<string>goblinAttack0.png</string>
				<string>goblinStand0.png</string>
				<string>goblinStand1.png</string>
				<string>goblinStand0.png</string>
				<string>goblinStand1.png</string>
				<string>goblinStand0.png</string>
				<string>goblinStand1.png</string>
				<string>goblinStand0.png</string>
				<string>goblinStand1.png</string>
				<string>goblinStand0.png</string>
				<string>goblinStand1.png</string>
				<string>goblinStand0.png</string>
				<string>goblinStand1.png</string>
			</array>
		</dict>
		<key>goblin bombStand</key>
		<dict>
			<key>delay</key>
			<real>0.1</real>
			<key>frames</key>
			<array>
				<string>goblinBombStand0.png</string>
				<string>goblinBombStand1.png</string>
			</array>
		</dict>
		<key>goblin bombRun</key>
		<dict>
			<key>delay</key>
			<real>0.1</real>
			<key>frames</key>
			<array>
				<string>goblinBombRun0.png</string>
				<string>goblinBombStand0.png</string>
				<string>goblinBombRun1.png</string>
				<string>goblinBombStand1.png</string>
			</array>
		</dict>
		<key>trollStand</key>
		<dict>
			<key>delay</key>
			<real>0.1</real>
			<key>frames</key>
			<array>
				<string>trollStand0.png</string>
				<string>trollStand1.png</string>
			</array>
		</dict>
		<key>trollRun</key>
		<dict>
			<key>delay</key>
			<real>0.1</real>
			<key>frames</key>
			<array>
				<string>trollRun0.png</string>
				<string>trollStand0.png</string>
				<string>trollRun1.png</string>
				<string>trollStand1.png</string>
			</array>
		</dict>
		<key>trollAttack</key>
		<dict>
			<key>delay</key>
			<real>0.1</real>
			<key>frames</key>
			<array>
				<string>trollAttack0.png</string>
				<string>trollAttack0.png</string>
				<string>trollAttack1.png</string>
				<string>trollAttack2.png</string>
				<string>trollAttack2.png</string>
				<string>trollAttack2.png</string>
				<string>trollAttack0.png</string>
				<string>trollStand0.png</string>
				<string>trollStand1.png</string>
				<string>trollStand0.png</string>
				<string>trollStand1.png</string>
				<string>trollStand0.png</string>
				<string>trollStand1.png</string>
				<string>trollStand0.png</string>
				<string>trollStand1.png</string>
				<string>trollStand0.png</string>
				<string>trollStand1.png</string>
				<string>trollStand0.png</string>
				<string>trollStand1.png</string>
				<string>trollStand0.png</string>
				<string>trollStand1.png</string>
				<string>trollStand0.png</string>
				<string>trollStand1.png</string>
				<string>trollStand0.png</string>
				<string>trollStand1.png</string>
				<string>trollStand0.png</string>
				<string>trollStand1.png</string>
				<string>trollStand0.png</string>
				<string>trollStand1.png</string>
				<string>trollStand0.png</string>
				<string>trollStand1.png</string>
			</array>
		</dict>
		<key>zombie orc axeStand</key>
		<dict>
			<key>delay</key>
			<real>0.1</real>
			<key>frames</key>
			<array>
				<string>zombieOrc0.png</string>
				<string>zombieOrc1.png</string>
			</array>
		</dict>
		<key>zombie orc axeRun</key>
		<dict>
			<key>delay</key>
			<real>0.1</real>
			<key>frames</key>
			<array>
				<string>zombieOrc2.png</string>
				<string>zombieOrc2.png</string>
				<string>zombieOrc3.png</string>
				<string>zombieOrc4.png</string>
				<string>zombieOrc4.png</string>
			</array>
		</dict>
		<key>zombie orc axeAttack</key>
		<dict>
			<key>delay</key>
			<real>0.1</real>
			<key>frames</key>
			<array>
				<string>zombieOrc2.png</string>
				<string>zombieOrc2.png</string>
				<string>zombieOrc3.png</string>
				<string>zombieOrc4.png</string>
				<string>zombieOrc4.png</string>
				<string>zombieOrc0.png</string>
				<string>zombieOrc1.png</string>
				<string>zombieOrc0.png</string>
				<string>zombieOrc1.png</string>
				<string>zombieOrc0.png</string>
				<string>zombieOrc1.png</string>
				<string>zombieOrc0.png</string>
				<string>zombieOrc1.png</string>
				<string>zombieOrc0.png</string>
				<string>zombieOrc1.png</string>
				<string>zombieOrc0.png</string>
				<string>zombieOrc1.png</string>
				<string>zombieOrc0.png</string>
				<string>zombieOrc1.png</string>
				<string>zombieOrc0.png</string>
				<string>zombieOrc1.png</string>
				<string>zombieOrc0.png</string>
				<string>zombieOrc1.png</string>
				<string>zombieOrc0.png</string>
				<string>zombieOrc1.png</string>
			</array>
		</dict>
		<key>zombie swordmanStand</key>
		<dict>
			<key>delay</key>
			<real>0.1</real>
			<key>frames</key>
			<array>
				<string>zombieHuman0.png</string>
				<string>zombieHuman1.png</string>
			</array>
		</dict>
		<key>zombie swordmanRun</key>
		<dict>
			<key>delay</key>
			<real>0.1</real>
			<key>frames</key>
			<array>
				<string>zombieHuman2.png</string>
				<string>zombieHuman2.png</string>
				<string>zombieHuman4.png</string>
				<string>zombieHuman3.png</string>
				<string>zombieHuman3.png</string>
				<string>zombieHuman5.png</string>
				<string>zombieHuman5.png</string>
			</array>
		</dict>
		<key>zombie swordmanAttack</key>
		<dict>
			<key>delay</key>
			<real>0.1</real>
			<key>frames</key>
			<array>
				<string>zombieHuman2.png</string>
				<string>zombieHuman2.png</string>
				<string>zombieHuman4.png</string>
				<string>zombieHuman3.png</string>
				<string>zombieHuman3.png</string>
				<string>zombieHuman5.png</string>
				<string>zombieHuman5.png</string>
				<string>zombieHuman0.png</string>
				<string>zombieHuman1.png</string>
				<string>zombieHuman0.png</string>
				<string>zombieHuman1.png</string>
				<string>zombieHuman0.png</string>
				<string>zombieHuman1.png</string>
				<string>zombieHuman0.png</string>
				<string>zombieHuman1.png</string>
				<string>zombieHuman0.png</string>
				<string>zombieHuman1.png</string>
				<string>zombieHuman0.png</string>
				<string>zombieHuman1.png</string>
				<string>zombieHuman0.png</string>
				<string>zombieHuman1.png</string>
				<string>zombieHuman0.png</string>
				<string>zombieHuman1.png</string>
				<string>zombieHuman0.png</string>
				<string>zombieHuman1.png</string>
				<string>zombieHuman0.png</string>
				<string>zombieHuman1.png</string>
			</array>
		</dict>
		<key>catapultStand</key>
		<dict>
			<key>delay</key>
			<real>0.1</real>
			<key>frames</key>
			<array>
				<string>catapult0.png</string>
				<string>catapult1.png</string>
			</array>
		</dict>
		<key>catapultRun</key>
		<dict>
			<key>delay</key>
			<real>0.1</real>
			<key>frames</key>
			<array>
				<string>catapult0.png</string>
				<string>catapult1.png</string>
			</array>
		</dict>
		<key>catapultAttack</key>
		<dict>
			<key>delay</key>
			<real>0.1</real>
			<key>frames</key>
			<array>
				<string>catapultAttack0.png</string>
				<string>catapultAttack.png</string>
				<string>catapultAttack.png</string>
				<string>catapultAttack.png</string>
				<string>catapultAttack.png</string>
				<string>catapultAttack.png</string>
				<string>catapultAttack.png</string>
				<string>catapultAttack.png</string>
				<string>catapultAttack.png</string>
				<string>catapultAttack.png</string>
				<string>catapultAttack.png</string>
				<string>catapultAttack.png</string>
				<string>catapult0.png</string>
				<string>catapult1.png</string>
				<string>catapult0.png</string>
				<string>catapult1.png</string>
				<string>catapult0.png</string>
				<string>catapult1.png</string>
				<string>catapult0.png</string>
				<string>catapult1.png</string>
				<string>catapult0.png</string>
				<string>catapult1.png</string>
				<string>catapult0.png</string>
				<string>catapult1.png</string>
				<string>catapult0.png</string>
				<string>catapult1.png</string>
				<string>catapult0.png</string>
				<string>catapult1.png</string>
				<string>catapult0.png</string>
				<string>catapult1.png</string>
				<string>catapult0.png</string>
				<string>catapult1.png</string>
				<string>catapult0.png</string>
				<string>catapult1.png</string>
				<string>catapult0.png</string>
				<string>catapult1.png</string>
				<string>catapult0.png</string>
				<string>catapult1.png</string>
				<string>catapult0.png</string>
				<string>catapult1.png</string>
				<string>catapult0.png</string>
				<string>catapult1.png</string>
				<string>catapult0.png</string>
				<string>catapult1.png</string>
				<string>catapult0.png</string>
				<string>catapult1.png</string>
				<string>catapult0.png</string>
				<string>catapult1.png</string>
				<string>catapult0.png</string>
				<string>catapult1.png</string>
				<string>catapult0.png</string>
				<string>catapult1.png</string>
				<string>catapult0.png</string>
				<string>catapult1.png</string>
				<string>catapult0.png</string>
				<string>catapult1.png</string>
				<string>catapult0.png</string>
				<string>catapult1.png</string>
				<string>catapult0.png</string>
				<string>catapult1.png</string>
			</array>
		</dict>
		<key>lamingtonStand</key>
		<dict>
			<key>delay</key>
			<real>0.1</real>
			<key>frames</key>
			<array>
				<string>wizardStand0.png</string>
				<string>wizardStand1.png</string>
			</array>
		</dict>
		<key>lamingtonRun</key>
		<dict>
			<key>delay</key>
			<real>0.2</real>
			<key>frames</key>
			<array>
				<string>wizardStand0.png</string>
				<string>wizardRun0.png</string>
			</array>
		</dict>
		<key>wizardStand</key>
		<dict>
			<key>delay</key>
			<real>0.1</real>
			<key>frames</key>
			<array>
				<string>wizardStand0.png</string>
				<string>wizardStand1.png</string>
			</array>
		</dict>
		<key>wizardRun</key>
		<dict>
			<key>delay</key>
			<real>0.2</real>
			<key>frames</key>
			<array>
				<string>wizardStand0.png</string>
				<string>wizardRun0.png</string>
			</array>
		</dict>
		<key>wizardAttack</key>
		<dict>
			<key>delay</key>
			<real>0.1</real>
			<key>frames</key>
			<array>
				<string>wizardStand0.png</string>
				<string>wizardRun0.png</string>
				<string>wizardStand1.png</string>
				<string>wizardRun0.png</string>
				<string>wizardStand0.png</string>
			</array>
		</dict>
		<key>fireball</key>
		<dict>
			<key>delay</key>
			<real>0.07000000000000001</real>
			<key>frames</key>
			<array>
				<string>fireball0.png</string>
				<string>fireball1.png</string>
				<string>fireball2.png</string>
				<string>fireball0.png</string>
				<string>fireball1.png</string>
				<string>fireball2.png</string>
				<string>fireball0.png</string>
				<string>fireball1.png</string>
				<string>fireball2.png</string>
			</array>
		</dict>
		<key>fireExplosion</key>
		<dict>
			<key>delay</key>
			<real>0.07000000000000001</real>
			<key>frames</key>
			<array>
				<string>groundExplosion0.png</string>
				<string>groundExplosion1.png</string>
				<string>groundExplosion2.png</string>
				<string>groundExplosion3.png</string>
				<string>groundExplosion4.png</string>
				<string>groundExplosion5.png</string>
				<string>groundExplosion6.png</string>
				<string>groundExplosion7.png</string>
			</array>
		</dict>
		<key>propeller</key>
		<dict>
			<key>delay</key>
			<real>0.1</real>
			<key>frames</key>
			<array>
				<string>airportPropeller0.png</string>
				<string>airportPropeller1.png</string>
				<string>airportPropeller2.png</string>
			</array>
		</dict>
		<key>redFlag</key>
		<dict>
			<key>delay</key>
			<real>0.1</real>
			<key>frames</key>
			<array>
				<string>redFlag0.png</string>
				<string>redFlag1.png</string>
				<string>redFlag2.png</string>
				<string>redFlag3.png</string>
			</array>
		</dict>
		<key>blueFlag</key>
		<dict>
			<key>delay</key>
			<real>0.1</real>
			<key>frames</key>
			<array>
				<string>blueFlag0.png</string>
				<string>blueFlag1.png</string>
				<string>blueFlag2.png</string>
				<string>blueFlag3.png</string>
			</array>
		</dict>
		<key>smoke</key>
		<dict>
			<key>delay</key>
			<real>0.1</real>
			<key>frames</key>
			<array>
				<string>smoke0.png</string>
				<string>smoke1.png</string>
				<string>smoke2.png</string>
			</array>
		</dict>
		<key>energyBarFrame</key>
		<dict>
			<key>delay</key>
			<real>0.1</real>
			<key>frames</key>
			<array>
				<string>energyBarFrame0.png</string>
				<string>energyBarFrame1.png</string>
			</array>
		</dict>
		<key>energyBarFrameForBuilding</key>
		<dict>
			<key>delay</key>
			<real>0.1</real>
			<key>frames</key>
			<array>
				<string>energyBarFrame0ForBuilding.png</string>
				<string>energyBarFrame1ForBuilding.png</string>
			</array>
		</dict>
		<key>cartoonyExplosionBig</key>
		<dict>
			<key>delay</key>
			<real>0.04</real>
			<key>frames</key>
			<array>
				<string>cartoonyExplosion0.png</string>
				<string>cartoonyExplosion1.png</string>
				<string>cartoonyExplosion2.png</string>
				<string>cartoonyExplosion3.png</string>
				<string>cartoonyExplosion4.png</string>
				<string>cartoonyExplosion5.png</string>
				<string>cartoonyExplosion6.png</string>
				<string>cartoonyExplosion7.png</string>
				<string>cartoonyExplosion8.png</string>
				<string>cartoonyExplosion9.png</string>
				<string>cartoonyExplosion10.png</string>
				<string>cartoonyExplosion11.png</string>
				<string>cartoonyExplosion12.png</string>
				<string>cartoonyExplosion13.png</string>
			</array>
		</dict>
		<key>cartoonyExplosion</key>
		<dict>
			<key>delay</key>
			<real>0.06</real>
			<key>frames</key>
			<array>
				<string>cartoonyFastExplosion0.png</string>
				<string>cartoonyFastExplosion1.png</string>
				<string>cartoonyFastExplosion2.png</string>
				<string>cartoonyFastExplosion3.png</string>
				<string>cartoonyFastExplosion4.png</string>
				<string>cartoonyFastExplosion5.png</string>
				<string>cartoonyFastExplosion6.png</string>
				<string>cartoonyFastExplosion7.png</string>
				<string>cartoonyFastExplosion8.png</string>
			</array>
		</dict>
		<key>cartoonyHitEffect</key>
		<dict>
			<key>delay</key>
			<real>0.06</real>
			<key>frames</key>
			<array>
				<string>cartoonyHitEffect0.png</string>
				<string>cartoonyHitEffect1.png</string>
				<string>cartoonyHitEffect2.png</string>
				<string>cartoonyHitEffect3.png</string>
			</array>
		</dict>
		<key>underConstrunction</key>
		<dict>
			<key>delay</key>
			<real>0.1</real>
			<key>frames</key>
			<array>
				<string>underConstrunction0.png</string>
				<string>underConstrunction1.png</string>
			</array>
		</dict>
		<key>fire</key>
		<dict>
			<key>delay</key>
			<real>0.1</real>
			<key>frames</key>
			<array>
				<string>fire0.png</string>
				<string>fire1.png</string>
				<string>fire2.png</string>
			</array>
		</dict>
		<key>bird0</key>
		<dict>
			<key>delay</key>
			<real>0.1</real>
			<key>frames</key>
			<array>
				<string>bird0.png</string>
				<string>bird1.png</string>
				<string>bird2.png</string>
			</array>
		</dict>
		<key>bird1</key>
		<dict>
			<key>delay</key>
			<real>0.1</real>
			<key>frames</key>
			<array>
				<string>bird1.png</string>
				<string>bird2.png</string>
				<string>bird0.png</string>
			</array>
		</dict>
		<key>bird2</key>
		<dict>
			<key>delay</key>
			<real>0.1</real>
			<key>frames</key>
			<array>
				<string>bird2.png</string>
				<string>bird0.png</string>
				<string>bird1.png</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
