<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>archerAttack0.png</key>
   <dict>
    <key>frame</key>
    <string>{{1576,806},{134,141}}</string>
    <key>offset</key>
    <string>{-5,-9}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{150,162}</string>
   </dict>
   <key>archerAttack1.png</key>
   <dict>
    <key>frame</key>
    <string>{{1453,1262},{120,142}}</string>
    <key>offset</key>
    <string>{2,-10}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{150,162}</string>
   </dict>
   <key>archerDead.png</key>
   <dict>
    <key>frame</key>
    <string>{{192,1816},{150,90}}</string>
    <key>offset</key>
    <string>{0,-35}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{150,162}</string>
   </dict>
   <key>archerRun0.png</key>
   <dict>
    <key>frame</key>
    <string>{{1654,115},{134,152}}</string>
    <key>offset</key>
    <string>{8,-5}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{150,162}</string>
   </dict>
   <key>archerRun1.png</key>
   <dict>
    <key>frame</key>
    <string>{{917,1394},{136,147}}</string>
    <key>offset</key>
    <string>{7,-5}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{150,162}</string>
   </dict>
   <key>archerRun2.png</key>
   <dict>
    <key>frame</key>
    <string>{{1431,949},{132,147}}</string>
    <key>offset</key>
    <string>{7,-5}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{150,162}</string>
   </dict>
   <key>archerStand0.png</key>
   <dict>
    <key>frame</key>
    <string>{{1564,949},{118,148}}</string>
    <key>offset</key>
    <string>{0,-6}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{150,162}</string>
   </dict>
   <key>archerStand1.png</key>
   <dict>
    <key>frame</key>
    <string>{{1075,1555},{116,148}}</string>
    <key>offset</key>
    <string>{0,-6}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{150,162}</string>
   </dict>
   <key>arrow.png</key>
   <dict>
    <key>frame</key>
    <string>{{453,515},{41,107}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{41,107}</string>
   </dict>
   <key>axe.png</key>
   <dict>
    <key>frame</key>
    <string>{{1352,731},{57,71}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{57,71}</string>
   </dict>
   <key>boulder.png</key>
   <dict>
    <key>frame</key>
    <string>{{202,716},{48,44}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{48,45}</string>
   </dict>
   <key>butterfly0.png</key>
   <dict>
    <key>frame</key>
    <string>{{453,764},{32,22}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{32,22}</string>
   </dict>
   <key>butterfly1.png</key>
   <dict>
    <key>frame</key>
    <string>{{487,697},{19,20}}</string>
    <key>offset</key>
    <string>{0,1}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{19,23}</string>
   </dict>
   <key>catapult0.png</key>
   <dict>
    <key>frame</key>
    <string>{{1301,115},{201,125}}</string>
    <key>offset</key>
    <string>{12,-3}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{227,131}</string>
   </dict>
   <key>catapult1.png</key>
   <dict>
    <key>frame</key>
    <string>{{711,1000},{203,128}}</string>
    <key>offset</key>
    <string>{12,-1}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{227,131}</string>
   </dict>
   <key>catapultAttack.png</key>
   <dict>
    <key>frame</key>
    <string>{{1282,422},{201,123}}</string>
    <key>offset</key>
    <string>{-13,-4}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{227,131}</string>
   </dict>
   <key>catapultAttack0.png</key>
   <dict>
    <key>frame</key>
    <string>{{1154,274},{201,145}}</string>
    <key>offset</key>
    <string>{-13,7}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{227,160}</string>
   </dict>
   <key>decoGrass0.png</key>
   <dict>
    <key>frame</key>
    <string>{{453,667},{47,29}}</string>
    <key>offset</key>
    <string>{-4,2}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{55,40}</string>
   </dict>
   <key>decoGrass1.png</key>
   <dict>
    <key>frame</key>
    <string>{{212,849},{39,21}}</string>
    <key>offset</key>
    <string>{5,2}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{49,28}</string>
   </dict>
   <key>decoRock0.png</key>
   <dict>
    <key>frame</key>
    <string>{{453,623},{50,43}}</string>
    <key>offset</key>
    <string>{-2,1}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{54,46}</string>
   </dict>
   <key>decoRock1.png</key>
   <dict>
    <key>frame</key>
    <string>{{453,739},{53,24}}</string>
    <key>offset</key>
    <string>{-1,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{55,26}</string>
   </dict>
   <key>decoRock2.png</key>
   <dict>
    <key>frame</key>
    <string>{{728,232},{99,40}}</string>
    <key>offset</key>
    <string>{1,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{105,45}</string>
   </dict>
   <key>emptyRect.png</key>
   <dict>
    <key>frame</key>
    <string>{{495,515},{2,2}}</string>
    <key>offset</key>
    <string>{-49,49}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{100,100}</string>
   </dict>
   <key>energyBarContent.png</key>
   <dict>
    <key>frame</key>
    <string>{{624,973},{76,24}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{76,24}</string>
   </dict>
   <key>energyBarFrame0.png</key>
   <dict>
    <key>frame</key>
    <string>{{774,1129},{85,33}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{85,33}</string>
   </dict>
   <key>energyBarFrame1.png</key>
   <dict>
    <key>frame</key>
    <string>{{1282,546},{85,33}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{85,33}</string>
   </dict>
   <key>fireBall0.png</key>
   <dict>
    <key>frame</key>
    <string>{{1161,744},{60,57}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{60,58}</string>
   </dict>
   <key>fireBall1.png</key>
   <dict>
    <key>frame</key>
    <string>{{1425,736},{60,55}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{60,58}</string>
   </dict>
   <key>fireBall2.png</key>
   <dict>
    <key>frame</key>
    <string>{{1100,744},{60,58}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{60,58}</string>
   </dict>
   <key>goblinAttack0.png</key>
   <dict>
    <key>frame</key>
    <string>{{1214,1438},{122,141}}</string>
    <key>offset</key>
    <string>{0,-4}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{160,150}</string>
   </dict>
   <key>goblinAttack1.png</key>
   <dict>
    <key>frame</key>
    <string>{{1116,806},{174,136}}</string>
    <key>offset</key>
    <string>{-16,-7}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{210,150}</string>
   </dict>
   <key>goblinAxeAttack0.png</key>
   <dict>
    <key>frame</key>
    <string>{{1323,1262},{129,139}}</string>
    <key>offset</key>
    <string>{-1,-3}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{205,145}</string>
   </dict>
   <key>goblinAxeAttack1.png</key>
   <dict>
    <key>frame</key>
    <string>{{1356,274},{163,145}}</string>
    <key>offset</key>
    <string>{-21,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{205,145}</string>
   </dict>
   <key>goblinAxeAttack2.png</key>
   <dict>
    <key>frame</key>
    <string>{{1261,585},{163,145}}</string>
    <key>offset</key>
    <string>{-21,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{205,145}</string>
   </dict>
   <key>goblinAxeRun0.png</key>
   <dict>
    <key>frame</key>
    <string>{{1081,944},{169,135}}</string>
    <key>offset</key>
    <string>{-14,-5}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{205,145}</string>
   </dict>
   <key>goblinAxeRun1.png</key>
   <dict>
    <key>frame</key>
    <string>{{357,1646},{155,128}}</string>
    <key>offset</key>
    <string>{-19,-8}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{205,145}</string>
   </dict>
   <key>goblinAxeStand0.png</key>
   <dict>
    <key>frame</key>
    <string>{{1520,274},{155,133}}</string>
    <key>offset</key>
    <string>{-20,-6}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{205,145}</string>
   </dict>
   <key>goblinAxeStand1.png</key>
   <dict>
    <key>frame</key>
    <string>{{917,1262},{157,131}}</string>
    <key>offset</key>
    <string>{-20,-7}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{205,145}</string>
   </dict>
   <key>goblinBombDead.png</key>
   <dict>
    <key>frame</key>
    <string>{{740,1182},{151,156}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{151,157}</string>
   </dict>
   <key>goblinBombRun0.png</key>
   <dict>
    <key>frame</key>
    <string>{{1,1183},{179,158}}</string>
    <key>offset</key>
    <string>{1,-4}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{187,167}</string>
   </dict>
   <key>goblinBombRun1.png</key>
   <dict>
    <key>frame</key>
    <string>{{1100,422},{181,162}}</string>
    <key>offset</key>
    <string>{3,-2}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{187,167}</string>
   </dict>
   <key>goblinBombStand0.png</key>
   <dict>
    <key>frame</key>
    <string>{{917,944},{163,153}}</string>
    <key>offset</key>
    <string>{-7,-7}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{187,167}</string>
   </dict>
   <key>goblinBombStand1.png</key>
   <dict>
    <key>frame</key>
    <string>{{357,1324},{161,151}}</string>
    <key>offset</key>
    <string>{-8,-8}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{187,167}</string>
   </dict>
   <key>goblinDead.png</key>
   <dict>
    <key>frame</key>
    <string>{{1525,1},{150,94}}</string>
    <key>offset</key>
    <string>{0,-2}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{150,102}</string>
   </dict>
   <key>goblinGoldRun0.png</key>
   <dict>
    <key>frame</key>
    <string>{{740,1502},{137,145}}</string>
    <key>offset</key>
    <string>{10,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{205,145}</string>
   </dict>
   <key>goblinGoldRun1.png</key>
   <dict>
    <key>frame</key>
    <string>{{1214,1708},{121,125}}</string>
    <key>offset</key>
    <string>{1,-10}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{205,145}</string>
   </dict>
   <key>goblinGoldStand0.png</key>
   <dict>
    <key>frame</key>
    <string>{{1075,1704},{123,130}}</string>
    <key>offset</key>
    <string>{-2,-7}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{205,145}</string>
   </dict>
   <key>goblinGoldStand1.png</key>
   <dict>
    <key>frame</key>
    <string>{{1341,1580},{121,130}}</string>
    <key>offset</key>
    <string>{-2,-7}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{205,145}</string>
   </dict>
   <key>goblinRun0.png</key>
   <dict>
    <key>frame</key>
    <string>{{192,1392},{156,150}}</string>
    <key>offset</key>
    <string>{-2,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{160,150}</string>
   </dict>
   <key>goblinRun1.png</key>
   <dict>
    <key>frame</key>
    <string>{{1568,585},{144,138}}</string>
    <key>offset</key>
    <string>{-8,-6}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{160,150}</string>
   </dict>
   <key>goblinStand0.png</key>
   <dict>
    <key>frame</key>
    <string>{{1291,1121},{142,138}}</string>
    <key>offset</key>
    <string>{-9,-6}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{160,150}</string>
   </dict>
   <key>goblinStand1.png</key>
   <dict>
    <key>frame</key>
    <string>{{1431,806},{144,142}}</string>
    <key>offset</key>
    <string>{-8,-4}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{160,150}</string>
   </dict>
   <key>goblinWoodRun0.png</key>
   <dict>
    <key>frame</key>
    <string>{{1075,1411},{129,143}}</string>
    <key>offset</key>
    <string>{-5,-1}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{205,145}</string>
   </dict>
   <key>goblinWoodRun1.png</key>
   <dict>
    <key>frame</key>
    <string>{{1434,1121},{131,139}}</string>
    <key>offset</key>
    <string>{-10,-3}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{205,145}</string>
   </dict>
   <key>goblinWoodStand0.png</key>
   <dict>
    <key>frame</key>
    <string>{{740,1773},{127,131}}</string>
    <key>offset</key>
    <string>{-8,-7}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{205,145}</string>
   </dict>
   <key>goblinWoodStand1.png</key>
   <dict>
    <key>frame</key>
    <string>{{1566,1121},{127,131}}</string>
    <key>offset</key>
    <string>{-8,-7}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{205,145}</string>
   </dict>
   <key>groundExplosion0.png</key>
   <dict>
    <key>frame</key>
    <string>{{1210,1098},{60,46}}</string>
    <key>offset</key>
    <string>{-4,-4}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{92,64}</string>
   </dict>
   <key>groundExplosion1.png</key>
   <dict>
    <key>frame</key>
    <string>{{711,1129},{62,47}}</string>
    <key>offset</key>
    <string>{-5,-4}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{92,64}</string>
   </dict>
   <key>groundExplosion2.png</key>
   <dict>
    <key>frame</key>
    <string>{{1486,736},{58,43}}</string>
    <key>offset</key>
    <string>{-5,-5}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{92,64}</string>
   </dict>
   <key>groundExplosion3.png</key>
   <dict>
    <key>frame</key>
    <string>{{839,474},{72,52}}</string>
    <key>offset</key>
    <string>{-3,-6}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{92,64}</string>
   </dict>
   <key>groundExplosion4.png</key>
   <dict>
    <key>frame</key>
    <string>{{811,729},{88,58}}</string>
    <key>offset</key>
    <string>{-1,-1}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{92,64}</string>
   </dict>
   <key>groundExplosion5.png</key>
   <dict>
    <key>frame</key>
    <string>{{718,729},{92,57}}</string>
    <key>offset</key>
    <string>{0,3}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{92,64}</string>
   </dict>
   <key>groundExplosion6.png</key>
   <dict>
    <key>frame</key>
    <string>{{828,232},{86,40}}</string>
    <key>offset</key>
    <string>{-1,10}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{92,64}</string>
   </dict>
   <key>groundExplosion7.png</key>
   <dict>
    <key>frame</key>
    <string>{{1368,546},{80,33}}</string>
    <key>offset</key>
    <string>{-1,14}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{92,64}</string>
   </dict>
   <key>helicopter0.png</key>
   <dict>
    <key>frame</key>
    <string>{{513,1646},{109,175}}</string>
    <key>offset</key>
    <string>{-1,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{115,182}</string>
   </dict>
   <key>helicopter1.png</key>
   <dict>
    <key>frame</key>
    <string>{{623,1646},{107,172}}</string>
    <key>offset</key>
    <string>{2,-2}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{115,182}</string>
   </dict>
   <key>helicopter2.png</key>
   <dict>
    <key>frame</key>
    <string>{{1214,1262},{108,175}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{108,175}</string>
   </dict>
   <key>orcAxeAttack0.png</key>
   <dict>
    <key>frame</key>
    <string>{{192,1000},{164,203}}</string>
    <key>offset</key>
    <string>{16,-4}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{280,220}</string>
   </dict>
   <key>orcAxeAttack1.png</key>
   <dict>
    <key>frame</key>
    <string>{{706,274},{210,199}}</string>
    <key>offset</key>
    <string>{-34,-6}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{280,220}</string>
   </dict>
   <key>orcAxeAttack2.png</key>
   <dict>
    <key>frame</key>
    <string>{{1,817},{210,182}}</string>
    <key>offset</key>
    <string>{-34,-13}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{280,220}</string>
   </dict>
   <key>orcAxeDead.png</key>
   <dict>
    <key>frame</key>
    <string>{{917,274},{236,147}}</string>
    <key>offset</key>
    <string>{0,-1}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{240,160}</string>
   </dict>
   <key>orcAxeRun0.png</key>
   <dict>
    <key>frame</key>
    <string>{{941,1},{188,188}}</string>
    <key>offset</key>
    <string>{-21,-10}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{280,220}</string>
   </dict>
   <key>orcAxeRun1.png</key>
   <dict>
    <key>frame</key>
    <string>{{252,788},{184,202}}</string>
    <key>offset</key>
    <string>{-22,-3}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{280,220}</string>
   </dict>
   <key>orcAxeStand0.png</key>
   <dict>
    <key>frame</key>
    <string>{{624,788},{186,184}}</string>
    <key>offset</key>
    <string>{-23,-14}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{280,220}</string>
   </dict>
   <key>orcAxeStand1.png</key>
   <dict>
    <key>frame</key>
    <string>{{357,1000},{184,180}}</string>
    <key>offset</key>
    <string>{-22,-14}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{280,220}</string>
   </dict>
   <key>orcSpearAttack0.png</key>
   <dict>
    <key>frame</key>
    <string>{{917,422},{182,188}}</string>
    <key>offset</key>
    <string>{1,-21}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{240,230}</string>
   </dict>
   <key>orcSpearAttack1.png</key>
   <dict>
    <key>frame</key>
    <string>{{718,541},{194,187}}</string>
    <key>offset</key>
    <string>{-28,-21}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{250,230}</string>
   </dict>
   <key>orcSpearAttack2.png</key>
   <dict>
    <key>frame</key>
    <string>{{1,1000},{190,182}}</string>
    <key>offset</key>
    <string>{-28,-24}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{250,230}</string>
   </dict>
   <key>orcSpearDead.png</key>
   <dict>
    <key>frame</key>
    <string>{{917,806},{198,137}}</string>
    <key>offset</key>
    <string>{-8,-46}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{220,240}</string>
   </dict>
   <key>orcSpearIdle0.png</key>
   <dict>
    <key>frame</key>
    <string>{{728,1},{212,230}}</string>
    <key>offset</key>
    <string>{16,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{250,230}</string>
   </dict>
   <key>orcSpearIdle1.png</key>
   <dict>
    <key>frame</key>
    <string>{{507,541},{210,229}}</string>
    <key>offset</key>
    <string>{17,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{250,230}</string>
   </dict>
   <key>orcSpearIdle2.png</key>
   <dict>
    <key>frame</key>
    <string>{{192,1204},{150,187}}</string>
    <key>offset</key>
    <string>{17,-21}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{250,230}</string>
   </dict>
   <key>orcSpearRun0.png</key>
   <dict>
    <key>frame</key>
    <string>{{542,1000},{168,181}}</string>
    <key>offset</key>
    <string>{-11,-17}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{200,240}</string>
   </dict>
   <key>orcSpearRun1.png</key>
   <dict>
    <key>frame</key>
    <string>{{1130,1},{170,191}}</string>
    <key>offset</key>
    <string>{-11,-20}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{200,240}</string>
   </dict>
   <key>orcSpearStand0.png</key>
   <dict>
    <key>frame</key>
    <string>{{437,788},{186,194}}</string>
    <key>offset</key>
    <string>{-2,-19}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{200,240}</string>
   </dict>
   <key>orcSpearStand1.png</key>
   <dict>
    <key>frame</key>
    <string>{{917,611},{170,194}}</string>
    <key>offset</key>
    <string>{-10,-19}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{200,240}</string>
   </dict>
   <key>pickax.png</key>
   <dict>
    <key>frame</key>
    <string>{{1261,731},{90,74}}</string>
    <key>offset</key>
    <string>{0,-3}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{100,80}</string>
   </dict>
   <key>sandDot0.png</key>
   <dict>
    <key>frame</key>
    <string>{{1075,190},{54,41}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{54,41}</string>
   </dict>
   <key>sandDot1.png</key>
   <dict>
    <key>frame</key>
    <string>{{202,761},{43,38}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{43,38}</string>
   </dict>
   <key>sandDot2.png</key>
   <dict>
    <key>frame</key>
    <string>{{212,817},{30,31}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{30,31}</string>
   </dict>
   <key>sandFlower0.png</key>
   <dict>
    <key>frame</key>
    <string>{{811,931},{66,56}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{66,56}</string>
   </dict>
   <key>selectedCircle.png</key>
   <dict>
    <key>frame</key>
    <string>{{1301,1},{223,113}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{223,113}</string>
   </dict>
   <key>spear.png</key>
   <dict>
    <key>frame</key>
    <string>{{202,544},{47,171}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{47,171}</string>
   </dict>
   <key>swordmanAttack0.png</key>
   <dict>
    <key>frame</key>
    <string>{{917,1666},{116,147}}</string>
    <key>offset</key>
    <string>{7,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{150,154}</string>
   </dict>
   <key>swordmanAttack1.png</key>
   <dict>
    <key>frame</key>
    <string>{{357,1181},{179,142}}</string>
    <key>offset</key>
    <string>{-19,-6}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{237,154}</string>
   </dict>
   <key>swordmanDead.png</key>
   <dict>
    <key>frame</key>
    <string>{{1,1811},{139,100}}</string>
    <key>offset</key>
    <string>{-1,-26}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{141,154}</string>
   </dict>
   <key>swordmanRun0.png</key>
   <dict>
    <key>frame</key>
    <string>{{1291,969},{136,151}}</string>
    <key>offset</key>
    <string>{-7,1}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{150,154}</string>
   </dict>
   <key>swordmanRun1.png</key>
   <dict>
    <key>frame</key>
    <string>{{1648,422},{132,149}}</string>
    <key>offset</key>
    <string>{-10,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{152,154}</string>
   </dict>
   <key>swordmanStand0.png</key>
   <dict>
    <key>frame</key>
    <string>{{1075,1262},{138,148}}</string>
    <key>offset</key>
    <string>{-6,-1}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{150,154}</string>
   </dict>
   <key>swordmanStand1.png</key>
   <dict>
    <key>frame</key>
    <string>{{1,1663},{138,147}}</string>
    <key>offset</key>
    <string>{-6,-1}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{150,154}</string>
   </dict>
   <key>talkBoxFrame.png</key>
   <dict>
    <key>frame</key>
    <string>{{513,1822},{143,86}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{143,86}</string>
   </dict>
   <key>talkBoxPointer.png</key>
   <dict>
    <key>frame</key>
    <string>{{453,697},{33,41}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{33,41}</string>
   </dict>
   <key>tree2_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{1503,115},{150,150}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{150,150}</string>
   </dict>
   <key>tree2_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{492,1476},{140,150}}</string>
    <key>offset</key>
    <string>{5,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{150,150}</string>
   </dict>
   <key>tree2_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{192,1543},{140,150}}</string>
    <key>offset</key>
    <string>{5,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{150,150}</string>
   </dict>
   <key>tree2_3.png</key>
   <dict>
    <key>frame</key>
    <string>{{1425,585},{142,150}}</string>
    <key>offset</key>
    <string>{-4,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{150,150}</string>
   </dict>
   <key>tree2_4.png</key>
   <dict>
    <key>frame</key>
    <string>{{1059,1098},{150,150}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{150,150}</string>
   </dict>
   <key>treeTrunk0.png</key>
   <dict>
    <key>frame</key>
    <string>{{1130,193},{120,73}}</string>
    <key>offset</key>
    <string>{-5,-28}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{150,150}</string>
   </dict>
   <key>treeTrunk1.png</key>
   <dict>
    <key>frame</key>
    <string>{{1694,1121},{82,108}}</string>
    <key>offset</key>
    <string>{-5,-9}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{150,150}</string>
   </dict>
   <key>treeTrunk2.png</key>
   <dict>
    <key>frame</key>
    <string>{{706,474},{132,53}}</string>
    <key>offset</key>
    <string>{1,-16}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{150,150}</string>
   </dict>
   <key>trollAttack0.png</key>
   <dict>
    <key>frame</key>
    <string>{{270,1},{254,272}}</string>
    <key>offset</key>
    <string>{-28,-4}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{330,280}</string>
   </dict>
   <key>trollAttack1.png</key>
   <dict>
    <key>frame</key>
    <string>{{1,1},{268,272}}</string>
    <key>offset</key>
    <string>{-31,-4}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{330,280}</string>
   </dict>
   <key>trollAttack2.png</key>
   <dict>
    <key>frame</key>
    <string>{{1,274},{250,269}}</string>
    <key>offset</key>
    <string>{-26,-5}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{330,280}</string>
   </dict>
   <key>trollDead.png</key>
   <dict>
    <key>frame</key>
    <string>{{252,274},{254,240}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{254,240}</string>
   </dict>
   <key>trollRun0.png</key>
   <dict>
    <key>frame</key>
    <string>{{507,274},{198,266}}</string>
    <key>offset</key>
    <string>{0,-7}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{280,280}</string>
   </dict>
   <key>trollRun1.png</key>
   <dict>
    <key>frame</key>
    <string>{{1,544},{200,272}}</string>
    <key>offset</key>
    <string>{2,-4}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{280,280}</string>
   </dict>
   <key>trollStand0.png</key>
   <dict>
    <key>frame</key>
    <string>{{252,515},{200,272}}</string>
    <key>offset</key>
    <string>{2,-4}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{280,280}</string>
   </dict>
   <key>trollStand1.png</key>
   <dict>
    <key>frame</key>
    <string>{{525,1},{202,270}}</string>
    <key>offset</key>
    <string>{1,-5}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{280,280}</string>
   </dict>
   <key>whiteRect.png</key>
   <dict>
    <key>frame</key>
    <string>{{1676,1},{100,100}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{100,100}</string>
   </dict>
   <key>wizardDead.png</key>
   <dict>
    <key>frame</key>
    <string>{{542,1182},{197,128}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{197,128}</string>
   </dict>
   <key>wizardRun0.png</key>
   <dict>
    <key>frame</key>
    <string>{{542,1311},{154,151}}</string>
    <key>offset</key>
    <string>{-6,-4}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{168,170}</string>
   </dict>
   <key>wizardStand0.png</key>
   <dict>
    <key>frame</key>
    <string>{{917,1098},{141,163}}</string>
    <key>offset</key>
    <string>{0,1}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{141,170}</string>
   </dict>
   <key>wizardStand1.png</key>
   <dict>
    <key>frame</key>
    <string>{{1,1498},{139,164}}</string>
    <key>offset</key>
    <string>{-1,1}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{141,170}</string>
   </dict>
   <key>workerAxeAttack0.png</key>
   <dict>
    <key>frame</key>
    <string>{{1463,1438},{119,133}}</string>
    <key>offset</key>
    <string>{17,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{205,135}</string>
   </dict>
   <key>workerAxeAttack1.png</key>
   <dict>
    <key>frame</key>
    <string>{{192,1694},{163,121}}</string>
    <key>offset</key>
    <string>{-11,-7}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{205,135}</string>
   </dict>
   <key>workerAxeAttack2.png</key>
   <dict>
    <key>frame</key>
    <string>{{1574,1262},{131,121}}</string>
    <key>offset</key>
    <string>{-28,-7}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{205,135}</string>
   </dict>
   <key>workerAxeRun0.png</key>
   <dict>
    <key>frame</key>
    <string>{{1484,422},{163,129}}</string>
    <key>offset</key>
    <string>{-21,-2}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{205,135}</string>
   </dict>
   <key>workerAxeRun1.png</key>
   <dict>
    <key>frame</key>
    <string>{{357,1775},{155,120}}</string>
    <key>offset</key>
    <string>{-25,-6}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{205,135}</string>
   </dict>
   <key>workerAxeStand0.png</key>
   <dict>
    <key>frame</key>
    <string>{{740,1648},{151,124}}</string>
    <key>offset</key>
    <string>{-25,-5}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{205,135}</string>
   </dict>
   <key>workerAxeStand1.png</key>
   <dict>
    <key>frame</key>
    <string>{{917,1542},{153,123}}</string>
    <key>offset</key>
    <string>{-25,-5}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{205,135}</string>
   </dict>
   <key>workerDead.png</key>
   <dict>
    <key>frame</key>
    <string>{{941,190},{133,79}}</string>
    <key>offset</key>
    <string>{-1,-28}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{139,135}</string>
   </dict>
   <key>workerGoldRun0.png</key>
   <dict>
    <key>frame</key>
    <string>{{1337,1438},{125,130}}</string>
    <key>offset</key>
    <string>{7,-2}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{139,135}</string>
   </dict>
   <key>workerGoldRun1.png</key>
   <dict>
    <key>frame</key>
    <string>{{1463,1572},{113,125}}</string>
    <key>offset</key>
    <string>{-1,-5}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{115,135}</string>
   </dict>
   <key>workerGoldStand0.png</key>
   <dict>
    <key>frame</key>
    <string>{{1341,1711},{114,121}}</string>
    <key>offset</key>
    <string>{2,-7}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{130,135}</string>
   </dict>
   <key>workerGoldStand1.png</key>
   <dict>
    <key>frame</key>
    <string>{{1577,1572},{114,121}}</string>
    <key>offset</key>
    <string>{2,-7}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{130,135}</string>
   </dict>
   <key>workerWoodRun0.png</key>
   <dict>
    <key>frame</key>
    <string>{{1214,1580},{126,127}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{130,135}</string>
   </dict>
   <key>workerWoodRun1.png</key>
   <dict>
    <key>frame</key>
    <string>{{1577,1694},{115,116}}</string>
    <key>offset</key>
    <string>{-12,-8}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{139,135}</string>
   </dict>
   <key>workerWoodStand0.png</key>
   <dict>
    <key>frame</key>
    <string>{{1683,949},{108,123}}</string>
    <key>offset</key>
    <string>{-10,-5}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{130,135}</string>
   </dict>
   <key>workerWoodStand1.png</key>
   <dict>
    <key>frame</key>
    <string>{{1463,1698},{110,123}}</string>
    <key>offset</key>
    <string>{-10,-5}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{130,135}</string>
   </dict>
   <key>zombieHuman0.png</key>
   <dict>
    <key>frame</key>
    <string>{{1698,1438},{88,146}}</string>
    <key>offset</key>
    <string>{1,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{100,147}</string>
   </dict>
   <key>zombieHuman1.png</key>
   <dict>
    <key>frame</key>
    <string>{{633,1476},{90,145}}</string>
    <key>offset</key>
    <string>{1,1}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{100,147}</string>
   </dict>
   <key>zombieHuman2.png</key>
   <dict>
    <key>frame</key>
    <string>{{1583,1438},{114,130}}</string>
    <key>offset</key>
    <string>{-3,-6}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{120,147}</string>
   </dict>
   <key>zombieHuman3.png</key>
   <dict>
    <key>frame</key>
    <string>{{1676,274},{112,143}}</string>
    <key>offset</key>
    <string>{-4,-1}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{120,147}</string>
   </dict>
   <key>zombieHuman4.png</key>
   <dict>
    <key>frame</key>
    <string>{{1698,1585},{88,144}}</string>
    <key>offset</key>
    <string>{9,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{120,147}</string>
   </dict>
   <key>zombieHuman5.png</key>
   <dict>
    <key>frame</key>
    <string>{{811,788},{104,142}}</string>
    <key>offset</key>
    <string>{-8,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{120,147}</string>
   </dict>
   <key>zombieOrc0.png</key>
   <dict>
    <key>frame</key>
    <string>{{1291,806},{139,162}}</string>
    <key>offset</key>
    <string>{-1,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{141,163}</string>
   </dict>
   <key>zombieOrc1.png</key>
   <dict>
    <key>frame</key>
    <string>{{740,1339},{137,162}}</string>
    <key>offset</key>
    <string>{-1,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{141,163}</string>
   </dict>
   <key>zombieOrc2.png</key>
   <dict>
    <key>frame</key>
    <string>{{357,1476},{134,169}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{170,169}</string>
   </dict>
   <key>zombieOrc3.png</key>
   <dict>
    <key>frame</key>
    <string>{{1100,585},{160,158}}</string>
    <key>offset</key>
    <string>{-4,-5}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{170,169}</string>
   </dict>
   <key>zombieOrc4.png</key>
   <dict>
    <key>frame</key>
    <string>{{1,1342},{160,155}}</string>
    <key>offset</key>
    <string>{-5,-7}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{170,169}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>textureFileName</key>
   <string>cartoonCraft.png</string>
  </dict>
 </dict>
</plist>
