<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>airport.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-16}</string>
    <key>spriteSize</key>
    <string>{217,205}</string>
    <key>spriteSourceSize</key>
    <string>{217,238}</string>
    <key>textureRect</key>
    <string>{{627,740},{217,205}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>airportPropeller0.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{3,0}</string>
    <key>spriteSize</key>
    <string>{84,55}</string>
    <key>spriteSourceSize</key>
    <string>{100,80}</string>
    <key>textureRect</key>
    <string>{{427,1201},{84,55}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>airportPropeller1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,3}</string>
    <key>spriteSize</key>
    <string>{94,67}</string>
    <key>spriteSourceSize</key>
    <string>{100,80}</string>
    <key>textureRect</key>
    <string>{{938,1097},{94,67}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>airportPropeller2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,2}</string>
    <key>spriteSize</key>
    <string>{90,75}</string>
    <key>spriteSourceSize</key>
    <string>{100,80}</string>
    <key>textureRect</key>
    <string>{{984,169},{90,75}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>airportPropeller3.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{94,65}</string>
    <key>spriteSourceSize</key>
    <string>{100,80}</string>
    <key>textureRect</key>
    <string>{{938,1165},{94,65}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>alter.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{252,260}</string>
    <key>spriteSourceSize</key>
    <string>{252,260}</string>
    <key>textureRect</key>
    <string>{{427,255},{252,260}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>axeport.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{181,173}</string>
    <key>spriteSourceSize</key>
    <string>{181,173}</string>
    <key>textureRect</key>
    <string>{{627,946},{181,173}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>barbecue.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{210,174}</string>
    <key>spriteSourceSize</key>
    <string>{210,174}</string>
    <key>textureRect</key>
    <string>{{845,740},{210,174}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>barracks.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{244,209}</string>
    <key>spriteSourceSize</key>
    <string>{244,209}</string>
    <key>textureRect</key>
    <string>{{691,516},{244,209}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>blueFlag0.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{65,62}</string>
    <key>spriteSourceSize</key>
    <string>{67,63}</string>
    <key>textureRect</key>
    <string>{{346,462},{65,62}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>blueFlag1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,0}</string>
    <key>spriteSize</key>
    <string>{65,61}</string>
    <key>spriteSourceSize</key>
    <string>{67,63}</string>
    <key>textureRect</key>
    <string>{{355,1170},{65,61}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>blueFlag2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,0}</string>
    <key>spriteSize</key>
    <string>{65,62}</string>
    <key>spriteSourceSize</key>
    <string>{67,63}</string>
    <key>textureRect</key>
    <string>{{355,1107},{65,62}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>blueFlag3.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,0}</string>
    <key>spriteSize</key>
    <string>{65,62}</string>
    <key>spriteSourceSize</key>
    <string>{67,63}</string>
    <key>textureRect</key>
    <string>{{346,525},{65,62}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bunker.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,-1}</string>
    <key>spriteSize</key>
    <string>{199,190}</string>
    <key>spriteSourceSize</key>
    <string>{203,192}</string>
    <key>textureRect</key>
    <string>{{427,1010},{199,190}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>castle.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,0}</string>
    <key>spriteSize</key>
    <string>{345,257}</string>
    <key>spriteSourceSize</key>
    <string>{347,257}</string>
    <key>textureRect</key>
    <string>{{0,371},{345,257}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>energyBarContentForBuilding.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{76,24}</string>
    <key>spriteSourceSize</key>
    <string>{76,24}</string>
    <key>textureRect</key>
    <string>{{346,588},{76,24}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>energyBarFrame0ForBuilding.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{85,33}</string>
    <key>spriteSourceSize</key>
    <string>{85,33}</string>
    <key>textureRect</key>
    <string>{{680,479},{85,33}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>energyBarFrame1ForBuilding.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{85,33}</string>
    <key>spriteSourceSize</key>
    <string>{85,33}</string>
    <key>textureRect</key>
    <string>{{730,219},{85,33}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>factory.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,0}</string>
    <key>spriteSize</key>
    <string>{302,254}</string>
    <key>spriteSourceSize</key>
    <string>{304,255}</string>
    <key>textureRect</key>
    <string>{{427,0},{302,254}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>farm.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{253,218}</string>
    <key>spriteSourceSize</key>
    <string>{253,218}</string>
    <key>textureRect</key>
    <string>{{730,0},{253,218}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>fire0.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{4,-16}</string>
    <key>spriteSize</key>
    <string>{130,133}</string>
    <key>spriteSourceSize</key>
    <string>{138,168}</string>
    <key>textureRect</key>
    <string>{{224,1107},{130,133}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>fire1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-3,-8}</string>
    <key>spriteSize</key>
    <string>{128,151}</string>
    <key>spriteSourceSize</key>
    <string>{138,168}</string>
    <key>textureRect</key>
    <string>{{809,1097},{128,151}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>fire2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-7,0}</string>
    <key>spriteSize</key>
    <string>{124,168}</string>
    <key>spriteSourceSize</key>
    <string>{138,168}</string>
    <key>textureRect</key>
    <string>{{984,0},{124,168}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>hq.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{426,370}</string>
    <key>spriteSourceSize</key>
    <string>{426,370}</string>
    <key>textureRect</key>
    <string>{{0,0},{426,370}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>lumberMill.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{264,243}</string>
    <key>spriteSourceSize</key>
    <string>{264,243}</string>
    <key>textureRect</key>
    <string>{{0,629},{264,243}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>mine.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{263,223}</string>
    <key>spriteSourceSize</key>
    <string>{263,223}</string>
    <key>textureRect</key>
    <string>{{427,516},{263,223}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>mine1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,0}</string>
    <key>spriteSize</key>
    <string>{261,223}</string>
    <key>spriteSourceSize</key>
    <string>{263,223}</string>
    <key>textureRect</key>
    <string>{{680,255},{261,223}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>redFlag0.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,2}</string>
    <key>spriteSize</key>
    <string>{55,43}</string>
    <key>spriteSourceSize</key>
    <string>{59,47}</string>
    <key>textureRect</key>
    <string>{{1033,1193},{55,43}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>redFlag1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-3,2}</string>
    <key>spriteSize</key>
    <string>{53,43}</string>
    <key>spriteSourceSize</key>
    <string>{59,47}</string>
    <key>textureRect</key>
    <string>{{1056,787},{53,43}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>redFlag2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-3,2}</string>
    <key>spriteSize</key>
    <string>{53,43}</string>
    <key>spriteSourceSize</key>
    <string>{59,47}</string>
    <key>textureRect</key>
    <string>{{572,1201},{53,43}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>redFlag3.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,1}</string>
    <key>spriteSize</key>
    <string>{55,44}</string>
    <key>spriteSourceSize</key>
    <string>{59,47}</string>
    <key>textureRect</key>
    <string>{{1033,1148},{55,44}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>selectedCircleBuilding.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{223,113}</string>
    <key>spriteSourceSize</key>
    <string>{223,113}</string>
    <key>textureRect</key>
    <string>{{0,1107},{223,113}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>smoke0.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{59,51}</string>
    <key>spriteSourceSize</key>
    <string>{59,51}</string>
    <key>textureRect</key>
    <string>{{512,1201},{59,51}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>smoke1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,0}</string>
    <key>spriteSize</key>
    <string>{57,50}</string>
    <key>spriteSourceSize</key>
    <string>{59,51}</string>
    <key>textureRect</key>
    <string>{{1033,1097},{57,50}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>smoke2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{51,46}</string>
    <key>spriteSourceSize</key>
    <string>{59,51}</string>
    <key>textureRect</key>
    <string>{{1056,740},{51,46}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>statueHouse.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{213,233}</string>
    <key>spriteSourceSize</key>
    <string>{213,233}</string>
    <key>textureRect</key>
    <string>{{0,873},{213,233}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>tree3_0.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{150,150}</string>
    <key>spriteSourceSize</key>
    <string>{150,150}</string>
    <key>textureRect</key>
    <string>{{942,255},{150,150}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>tree3_1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{5,0}</string>
    <key>spriteSize</key>
    <string>{140,150}</string>
    <key>spriteSourceSize</key>
    <string>{150,150}</string>
    <key>textureRect</key>
    <string>{{950,946},{140,150}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>tree3_2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{5,0}</string>
    <key>spriteSize</key>
    <string>{140,150}</string>
    <key>spriteSourceSize</key>
    <string>{150,150}</string>
    <key>textureRect</key>
    <string>{{809,946},{140,150}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>tree3_3.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-4,0}</string>
    <key>spriteSize</key>
    <string>{142,150}</string>
    <key>spriteSourceSize</key>
    <string>{150,150}</string>
    <key>textureRect</key>
    <string>{{942,557},{142,150}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>tree3_4.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{150,150}</string>
    <key>spriteSourceSize</key>
    <string>{150,150}</string>
    <key>textureRect</key>
    <string>{{942,406},{150,150}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>trigger.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{62,90}</string>
    <key>spriteSourceSize</key>
    <string>{62,90}</string>
    <key>textureRect</key>
    <string>{{346,371},{62,90}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>underConstrunction0.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-21}</string>
    <key>spriteSize</key>
    <string>{199,226}</string>
    <key>spriteSourceSize</key>
    <string>{199,269}</string>
    <key>textureRect</key>
    <string>{{214,873},{199,226}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>underConstrunction1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{199,269}</string>
    <key>spriteSourceSize</key>
    <string>{199,269}</string>
    <key>textureRect</key>
    <string>{{427,740},{199,269}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>undergroundBunker.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,0}</string>
    <key>spriteSize</key>
    <string>{171,100}</string>
    <key>spriteSourceSize</key>
    <string>{185,117}</string>
    <key>textureRect</key>
    <string>{{627,1120},{171,100}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>watcherTower.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{140,214}</string>
    <key>spriteSourceSize</key>
    <string>{140,214}</string>
    <key>textureRect</key>
    <string>{{265,629},{140,214}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{1110,1257}</string>
   <key>textureFileName</key>
   <string>cartoonCraftBuilding.png</string>
  </dict>
 </dict>
</plist>
