<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>bird0.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,-27}</string>
    <key>spriteSize</key>
    <string>{79,99}</string>
    <key>spriteSourceSize</key>
    <string>{189,153}</string>
    <key>textureRect</key>
    <string>{{438,1472},{79,99}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bird1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-13}</string>
    <key>spriteSize</key>
    <string>{189,80}</string>
    <key>spriteSourceSize</key>
    <string>{189,153}</string>
    <key>textureRect</key>
    <string>{{1056,383},{189,80}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bird2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,9}</string>
    <key>spriteSize</key>
    <string>{149,134}</string>
    <key>spriteSourceSize</key>
    <string>{189,153}</string>
    <key>textureRect</key>
    <string>{{158,1472},{149,134}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>cartoonyExplosion0.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{5,16}</string>
    <key>spriteSize</key>
    <string>{58,57}</string>
    <key>spriteSourceSize</key>
    <string>{260,239}</string>
    <key>textureRect</key>
    <string>{{1400,383},{58,57}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>cartoonyExplosion1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{6,14}</string>
    <key>spriteSize</key>
    <string>{74,79}</string>
    <key>spriteSourceSize</key>
    <string>{260,239}</string>
    <key>textureRect</key>
    <string>{{1247,383},{74,79}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>cartoonyExplosion10.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,-2}</string>
    <key>spriteSize</key>
    <string>{252,233}</string>
    <key>spriteSourceSize</key>
    <string>{260,239}</string>
    <key>textureRect</key>
    <string>{{1008,716},{252,233}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>cartoonyExplosion11.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{4,-1}</string>
    <key>spriteSize</key>
    <string>{238,213}</string>
    <key>spriteSourceSize</key>
    <string>{260,239}</string>
    <key>textureRect</key>
    <string>{{523,1392},{238,213}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>cartoonyExplosion12.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{3,-3}</string>
    <key>spriteSize</key>
    <string>{218,200}</string>
    <key>spriteSourceSize</key>
    <string>{260,239}</string>
    <key>textureRect</key>
    <string>{{1250,1176},{218,200}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>cartoonyExplosion13.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,-4}</string>
    <key>spriteSize</key>
    <string>{208,194}</string>
    <key>spriteSourceSize</key>
    <string>{260,239}</string>
    <key>textureRect</key>
    <string>{{998,1426},{208,194}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>cartoonyExplosion2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{6,13}</string>
    <key>spriteSize</key>
    <string>{104,102}</string>
    <key>spriteSourceSize</key>
    <string>{260,239}</string>
    <key>textureRect</key>
    <string>{{1250,1502},{104,102}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>cartoonyExplosion3.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{5,8}</string>
    <key>spriteSize</key>
    <string>{156,145}</string>
    <key>spriteSourceSize</key>
    <string>{260,239}</string>
    <key>textureRect</key>
    <string>{{0,1472},{156,145}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>cartoonyExplosion4.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,8}</string>
    <key>spriteSize</key>
    <string>{200,190}</string>
    <key>spriteSourceSize</key>
    <string>{260,239}</string>
    <key>textureRect</key>
    <string>{{1270,475},{200,190}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>cartoonyExplosion5.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{8,9}</string>
    <key>spriteSize</key>
    <string>{214,213}</string>
    <key>spriteSourceSize</key>
    <string>{260,239}</string>
    <key>textureRect</key>
    <string>{{1250,961},{214,213}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>cartoonyExplosion6.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{6,3}</string>
    <key>spriteSize</key>
    <string>{224,217}</string>
    <key>spriteSourceSize</key>
    <string>{260,239}</string>
    <key>textureRect</key>
    <string>{{763,1392},{224,217}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>cartoonyExplosion7.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,4}</string>
    <key>spriteSize</key>
    <string>{236,230}</string>
    <key>spriteSourceSize</key>
    <string>{260,239}</string>
    <key>textureRect</key>
    <string>{{998,1194},{236,230}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>cartoonyExplosion8.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,4}</string>
    <key>spriteSize</key>
    <string>{250,231}</string>
    <key>spriteSourceSize</key>
    <string>{260,239}</string>
    <key>textureRect</key>
    <string>{{998,961},{250,231}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>cartoonyExplosion9.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{260,239}</string>
    <key>spriteSourceSize</key>
    <string>{260,239}</string>
    <key>textureRect</key>
    <string>{{1008,475},{260,239}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>cartoonyFastExplosion0.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-19,2}</string>
    <key>spriteSize</key>
    <string>{361,381}</string>
    <key>spriteSourceSize</key>
    <string>{543,515}</string>
    <key>textureRect</key>
    <string>{{1056,0},{361,381}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>cartoonyFastExplosion1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{4,-17}</string>
    <key>spriteSize</key>
    <string>{473,429}</string>
    <key>spriteSourceSize</key>
    <string>{543,515}</string>
    <key>textureRect</key>
    <string>{{523,961},{473,429}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>cartoonyFastExplosion2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{6,3}</string>
    <key>spriteSize</key>
    <string>{485,457}</string>
    <key>spriteSourceSize</key>
    <string>{543,515}</string>
    <key>textureRect</key>
    <string>{{0,1013},{485,457}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>cartoonyFastExplosion3.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{6,-6}</string>
    <key>spriteSize</key>
    <string>{531,473}</string>
    <key>spriteSourceSize</key>
    <string>{543,515}</string>
    <key>textureRect</key>
    <string>{{523,0},{531,473}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>cartoonyFastExplosion4.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-5}</string>
    <key>spriteSize</key>
    <string>{521,504}</string>
    <key>spriteSourceSize</key>
    <string>{543,515}</string>
    <key>textureRect</key>
    <string>{{0,0},{521,504}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>cartoonyFastExplosion5.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-9,5}</string>
    <key>spriteSize</key>
    <string>{519,505}</string>
    <key>spriteSourceSize</key>
    <string>{543,515}</string>
    <key>textureRect</key>
    <string>{{0,506},{519,505}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>cartoonyFastExplosion6.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-9,5}</string>
    <key>spriteSize</key>
    <string>{519,505}</string>
    <key>spriteSourceSize</key>
    <string>{543,515}</string>
    <key>textureRect</key>
    <string>{{0,506},{519,505}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>cartoonyFastExplosion7.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-3,2}</string>
    <key>spriteSize</key>
    <string>{483,484}</string>
    <key>spriteSourceSize</key>
    <string>{543,515}</string>
    <key>textureRect</key>
    <string>{{523,475},{483,484}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>cartoonyFastExplosion8.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{92,230}</string>
    <key>spriteSize</key>
    <string>{13,12}</string>
    <key>spriteSourceSize</key>
    <string>{543,515}</string>
    <key>textureRect</key>
    <string>{{487,1013},{13,12}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>cartoonyHitEffect0.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,-2}</string>
    <key>spriteSize</key>
    <string>{75,73}</string>
    <key>spriteSourceSize</key>
    <string>{127,127}</string>
    <key>textureRect</key>
    <string>{{1323,383},{75,73}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>cartoonyHitEffect1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{7,-3}</string>
    <key>spriteSize</key>
    <string>{95,104}</string>
    <key>spriteSourceSize</key>
    <string>{127,127}</string>
    <key>textureRect</key>
    <string>{{1373,1378},{95,104}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>cartoonyHitEffect2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,0}</string>
    <key>spriteSize</key>
    <string>{121,122}</string>
    <key>spriteSourceSize</key>
    <string>{127,127}</string>
    <key>textureRect</key>
    <string>{{1250,1378},{121,122}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>cartoonyHitEffect3.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{127,127}</string>
    <key>spriteSourceSize</key>
    <string>{127,127}</string>
    <key>textureRect</key>
    <string>{{309,1472},{127,127}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>fog_201.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{201,201}</string>
    <key>spriteSourceSize</key>
    <string>{201,201}</string>
    <key>textureRect</key>
    <string>{{1262,716},{201,201}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{1472,1622}</string>
   <key>textureFileName</key>
   <string>cartoonCraftEffect.png</string>
  </dict>
 </dict>
</plist>
