<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>airport.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,16}</string>
    <key>spriteSize</key>
    <string>{108,103}</string>
    <key>spriteSourceSize</key>
    <string>{108,119}</string>
    <key>textureRect</key>
    <string>{{314,373},{108,103}}</string>
    <key>textureRotated</key>
    <false/>
    <key>triangles</key>
    <string>0 1 2 0 3 1 1 4 2 1 5 4 5 6 4 5 7 6 5 8 7</string>
    <key>vertices</key>
    <string>0 119 6 92 108 119 0 98 108 75 0 76 82 16 3 16 0 19</string>
    <key>verticesUV</key>
    <string>314 476 320 449 422 476 314 455 422 432 314 433 396 373 317 373 314 376</string>
   </dict>
   <key>airportPropeller0.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{4,6}</string>
    <key>spriteSize</key>
    <string>{44,28}</string>
    <key>spriteSourceSize</key>
    <string>{50,40}</string>
    <key>textureRect</key>
    <string>{{501,553},{44,28}}</string>
    <key>textureRotated</key>
    <false/>
    <key>triangles</key>
    <string>0 1 2 0 3 1</string>
    <key>vertices</key>
    <string>4 34 48 6 48 34 4 6</string>
    <key>verticesUV</key>
    <string>501 581 545 553 545 581 501 553</string>
   </dict>
   <key>airportPropeller1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,1}</string>
    <key>spriteSize</key>
    <string>{48,34}</string>
    <key>spriteSourceSize</key>
    <string>{50,40}</string>
    <key>textureRect</key>
    <string>{{452,553},{48,34}}</string>
    <key>textureRotated</key>
    <false/>
    <key>triangles</key>
    <string>0 1 2 3 2 1 2 3 4 2 4 5 3 1 6</string>
    <key>vertices</key>
    <string>2 35 2 5 41 35 45 1 50 3 50 32 4 1</string>
    <key>verticesUV</key>
    <string>452 587 452 557 491 587 495 553 500 555 500 584 454 553</string>
   </dict>
   <key>airportPropeller2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,0}</string>
    <key>spriteSize</key>
    <string>{46,38}</string>
    <key>spriteSourceSize</key>
    <string>{50,40}</string>
    <key>textureRect</key>
    <string>{{494,85},{46,38}}</string>
    <key>textureRotated</key>
    <false/>
    <key>triangles</key>
    <string>0 1 2 0 3 1 0 4 3</string>
    <key>vertices</key>
    <string>2 38 48 6 48 38 43 0 2 0</string>
    <key>verticesUV</key>
    <string>494 123 540 91 540 123 535 85 494 85</string>
   </dict>
   <key>airportPropeller3.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,3}</string>
    <key>spriteSize</key>
    <string>{48,33}</string>
    <key>spriteSourceSize</key>
    <string>{50,40}</string>
    <key>textureRect</key>
    <string>{{452,588},{48,33}}</string>
    <key>textureRotated</key>
    <false/>
    <key>triangles</key>
    <string>0 1 2 0 3 1</string>
    <key>vertices</key>
    <string>1 36 49 3 49 36 1 3</string>
    <key>verticesUV</key>
    <string>452 621 500 588 500 621 452 588</string>
   </dict>
   <key>alter.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{126,130}</string>
    <key>spriteSourceSize</key>
    <string>{126,130}</string>
    <key>textureRect</key>
    <string>{{214,129},{126,130}}</string>
    <key>textureRotated</key>
    <false/>
    <key>triangles</key>
    <string>0 1 2 2 3 0 4 3 2 4 5 3 6 0 3 6 3 7 8 6 7 9 6 8 8 7 10 7 11 10 12 7 3 3 13 12</string>
    <key>vertices</key>
    <string>12 130 0 126 0 68 46 1 20 0 45 0 90 130 90 6 126 94 115 120 126 0 97 0 82 0 47 0</string>
    <key>verticesUV</key>
    <string>226 259 214 255 214 197 260 130 234 129 259 129 304 259 304 135 340 223 329 249 340 129 311 129 296 129 261 129</string>
   </dict>
   <key>axeport.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{91,87}</string>
    <key>spriteSourceSize</key>
    <string>{91,87}</string>
    <key>textureRect</key>
    <string>{{470,260},{91,87}}</string>
    <key>textureRotated</key>
    <false/>
    <key>triangles</key>
    <string>0 1 2 0 3 1 4 3 0 0 2 5 0 5 6</string>
    <key>vertices</key>
    <string>91 9 19 87 0 80 82 87 91 80 0 0 88 0</string>
    <key>verticesUV</key>
    <string>561 269 489 347 470 340 552 347 561 340 470 260 558 260</string>
   </dict>
   <key>barbecue.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{105,87}</string>
    <key>spriteSourceSize</key>
    <string>{105,87}</string>
    <key>textureRect</key>
    <string>{{423,373},{105,87}}</string>
    <key>textureRotated</key>
    <false/>
    <key>triangles</key>
    <string>0 1 2 2 1 3 2 3 4 4 5 2 5 6 2 4 3 7 4 7 8 4 8 9 1 10 3</string>
    <key>vertices</key>
    <string>0 80 0 6 28 77 12 0 66 73 59 87 30 87 82 0 105 40 105 81 0 3</string>
    <key>verticesUV</key>
    <string>423 453 423 379 451 450 435 373 489 446 482 460 453 460 505 373 528 413 528 454 423 376</string>
   </dict>
   <key>barracks.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{122,105}</string>
    <key>spriteSourceSize</key>
    <string>{122,105}</string>
    <key>textureRect</key>
    <string>{{347,260},{122,105}}</string>
    <key>textureRotated</key>
    <false/>
    <key>triangles</key>
    <string>0 1 2 2 3 0 4 3 2 3 4 5 5 6 3 7 0 3 7 3 8 3 9 8</string>
    <key>vertices</key>
    <string>10 105 0 103 0 27 97 33 17 0 85 0 93 2 98 105 122 82 122 30</string>
    <key>verticesUV</key>
    <string>357 365 347 363 347 287 444 293 364 260 432 260 440 262 445 365 469 342 469 290</string>
   </dict>
   <key>blueFlag0.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{34,32}</string>
    <key>spriteSourceSize</key>
    <string>{34,32}</string>
    <key>textureRect</key>
    <string>{{175,232},{34,32}}</string>
    <key>textureRotated</key>
    <false/>
    <key>triangles</key>
    <string>0 1 2 0 3 1 1 4 2</string>
    <key>vertices</key>
    <string>0 32 27 0 34 32 0 0 34 4</string>
    <key>verticesUV</key>
    <string>175 264 202 232 209 264 175 232 209 236</string>
   </dict>
   <key>blueFlag1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{34,32}</string>
    <key>spriteSourceSize</key>
    <string>{34,32}</string>
    <key>textureRect</key>
    <string>{{179,590},{34,32}}</string>
    <key>textureRotated</key>
    <false/>
    <key>triangles</key>
    <string>0 1 2 0 3 1 1 4 2</string>
    <key>vertices</key>
    <string>0 32 27 0 34 32 0 0 34 4</string>
    <key>verticesUV</key>
    <string>179 622 206 590 213 622 179 590 213 594</string>
   </dict>
   <key>blueFlag2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{34,32}</string>
    <key>spriteSourceSize</key>
    <string>{34,32}</string>
    <key>textureRect</key>
    <string>{{179,557},{34,32}}</string>
    <key>textureRotated</key>
    <false/>
    <key>triangles</key>
    <string>0 1 2 0 2 3 3 4 0 1 5 2</string>
    <key>vertices</key>
    <string>33 32 0 32 29 0 34 2 34 31 0 0</string>
    <key>verticesUV</key>
    <string>212 589 179 589 208 557 213 559 213 588 179 557</string>
   </dict>
   <key>blueFlag3.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{34,32}</string>
    <key>spriteSourceSize</key>
    <string>{34,32}</string>
    <key>textureRect</key>
    <string>{{175,265},{34,32}}</string>
    <key>textureRotated</key>
    <false/>
    <key>triangles</key>
    <string>0 1 2 3 0 2 4 0 3 3 5 4</string>
    <key>vertices</key>
    <string>31 32 0 32 0 0 32 0 34 30 34 0</string>
    <key>verticesUV</key>
    <string>206 297 175 297 175 265 207 265 209 295 209 265</string>
   </dict>
   <key>bunker.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{99,95}</string>
    <key>spriteSourceSize</key>
    <string>{101,96}</string>
    <key>textureRect</key>
    <string>{{214,509},{99,95}}</string>
    <key>textureRotated</key>
    <false/>
    <key>triangles</key>
    <string>0 1 2 3 0 2 3 2 4 3 4 5 5 6 3 2 7 4</string>
    <key>vertices</key>
    <string>90 96 2 96 0 84 99 68 32 1 88 1 99 10 0 13</string>
    <key>verticesUV</key>
    <string>304 604 216 604 214 592 313 576 246 509 302 509 313 518 214 521</string>
   </dict>
   <key>castle.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{174,129}</string>
    <key>spriteSourceSize</key>
    <string>{174,129}</string>
    <key>textureRect</key>
    <string>{{0,186},{174,129}}</string>
    <key>textureRotated</key>
    <false/>
    <key>triangles</key>
    <string>0 1 2 3 1 0 1 3 4 4 3 5 4 5 6 6 5 7 7 5 8 8 9 7 10 5 3 3 11 10 3 0 12</string>
    <key>vertices</key>
    <string>0 39 25 129 0 125 42 19 135 129 117 18 174 93 174 16 140 0 154 0 90 0 52 0 28 12</string>
    <key>verticesUV</key>
    <string>0 225 25 315 0 311 42 205 135 315 117 204 174 279 174 202 140 186 154 186 90 186 52 186 28 198</string>
   </dict>
   <key>energyBarContentForBuilding.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{38,12}</string>
    <key>spriteSourceSize</key>
    <string>{38,12}</string>
    <key>textureRect</key>
    <string>{{175,298},{38,12}}</string>
    <key>textureRotated</key>
    <false/>
    <key>triangles</key>
    <string>0 1 2 0 3 1</string>
    <key>vertices</key>
    <string>0 12 38 0 38 12 0 0</string>
    <key>verticesUV</key>
    <string>175 310 213 298 213 310 175 298</string>
   </dict>
   <key>energyBarFrame0ForBuilding.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{43,17}</string>
    <key>spriteSourceSize</key>
    <string>{43,17}</string>
    <key>textureRect</key>
    <string>{{341,242},{43,17}}</string>
    <key>textureRotated</key>
    <false/>
    <key>triangles</key>
    <string>0 1 2 0 3 1</string>
    <key>vertices</key>
    <string>0 17 43 0 43 17 0 0</string>
    <key>verticesUV</key>
    <string>341 259 384 242 384 259 341 242</string>
   </dict>
   <key>energyBarFrame1ForBuilding.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{43,17}</string>
    <key>spriteSourceSize</key>
    <string>{43,17}</string>
    <key>textureRect</key>
    <string>{{367,110},{43,17}}</string>
    <key>textureRotated</key>
    <false/>
    <key>triangles</key>
    <string>0 1 2 0 3 1</string>
    <key>vertices</key>
    <string>0 17 43 0 43 17 0 0</string>
    <key>verticesUV</key>
    <string>367 127 410 110 410 127 367 110</string>
   </dict>
   <key>factory.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{152,128}</string>
    <key>spriteSourceSize</key>
    <string>{152,128}</string>
    <key>textureRect</key>
    <string>{{214,0},{152,128}}</string>
    <key>textureRotated</key>
    <false/>
    <key>triangles</key>
    <string>0 1 2 3 1 0 3 4 1 4 5 1 6 5 4 3 0 7</string>
    <key>vertices</key>
    <string>0 27 28 128 0 118 77 0 152 70 98 128 152 102 35 0</string>
    <key>verticesUV</key>
    <string>214 27 242 128 214 118 291 0 366 70 312 128 366 102 249 0</string>
   </dict>
   <key>farm.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{126,109}</string>
    <key>spriteSourceSize</key>
    <string>{126,109}</string>
    <key>textureRect</key>
    <string>{{367,0},{126,109}}</string>
    <key>textureRotated</key>
    <false/>
    <key>triangles</key>
    <string>0 1 2 0 2 3 3 4 0 4 3 5 4 5 6 7 4 6 2 8 3</string>
    <key>vertices</key>
    <string>87 109 0 109 0 72 71 0 107 90 126 45 126 99 109 100 35 0</string>
    <key>verticesUV</key>
    <string>454 109 367 109 367 72 438 0 474 90 493 45 493 99 476 100 402 0</string>
   </dict>
   <key>fire0.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{4,17}</string>
    <key>spriteSize</key>
    <string>{65,67}</string>
    <key>spriteSourceSize</key>
    <string>{69,84}</string>
    <key>textureRect</key>
    <string>{{113,557},{65,67}}</string>
    <key>textureRotated</key>
    <false/>
    <key>triangles</key>
    <string>0 1 2 1 3 2 3 4 2</string>
    <key>vertices</key>
    <string>59 84 4 84 69 63 4 17 69 17</string>
    <key>verticesUV</key>
    <string>168 624 113 624 178 603 113 557 178 557</string>
   </dict>
   <key>fire1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,9}</string>
    <key>spriteSize</key>
    <string>{65,75}</string>
    <key>spriteSourceSize</key>
    <string>{69,84}</string>
    <key>textureRect</key>
    <string>{{386,553},{65,75}}</string>
    <key>textureRotated</key>
    <false/>
    <key>triangles</key>
    <string>0 1 2 3 0 2 2 4 3 1 5 2 5 1 6 5 6 7 5 8 2 8 5 9 8 9 10 5 11 9</string>
    <key>vertices</key>
    <string>55 84 0 84 62 35 65 73 65 37 34 11 0 9 31 9 62 32 63 9 63 32 34 9</string>
    <key>verticesUV</key>
    <string>441 628 386 628 448 579 451 617 451 581 420 555 386 553 417 553 448 576 449 553 449 576 420 553</string>
   </dict>
   <key>fire2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{63,84}</string>
    <key>spriteSourceSize</key>
    <string>{69,84}</string>
    <key>textureRect</key>
    <string>{{494,0},{63,84}}</string>
    <key>textureRotated</key>
    <false/>
    <key>triangles</key>
    <string>0 1 2 0 1 1 1 3 2 1 4 3 4 5 3 2 3 6 7 2 6 6 8 7 6 9 8</string>
    <key>vertices</key>
    <string>0 84 0 25 38 84 30 13 0 0 30 0 34 13 63 74 63 11 34 9</string>
    <key>verticesUV</key>
    <string>494 84 494 25 532 84 524 13 494 0 524 0 528 13 557 74 557 11 528 9</string>
   </dict>
   <key>hq.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{213,185}</string>
    <key>spriteSourceSize</key>
    <string>{213,185}</string>
    <key>textureRect</key>
    <string>{{0,0},{213,185}}</string>
    <key>textureRotated</key>
    <false/>
    <key>triangles</key>
    <string>0 1 2 3 0 2 0 3 4 5 0 4 5 4 6 7 4 3 8 7 3 7 8 9 9 10 7 10 9 11 11 12 10 13 12 11 14 12 13 14 15 12 13 11 16 16 17 13 11 9 18 9 19 18 9 20 19 10 21 7 21 22 7 8 3 23 23 24 8 24 25 8</string>
    <key>vertices</key>
    <string>18 164 0 162 0 68 34 55 46 166 18 185 46 185 63 168 118 20 130 23 134 179 185 60 136 179 168 175 168 185 136 185 213 69 213 169 171 0 169 0 126 0 132 185 64 185 48 25 46 0 118 0</string>
    <key>verticesUV</key>
    <string>18 164 0 162 0 68 34 55 46 166 18 185 46 185 63 168 118 20 130 23 134 179 185 60 136 179 168 175 168 185 136 185 213 69 213 169 171 0 169 0 126 0 132 185 64 185 48 25 46 0 118 0</string>
   </dict>
   <key>lumberMill.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{132,122}</string>
    <key>spriteSourceSize</key>
    <string>{132,122}</string>
    <key>textureRect</key>
    <string>{{0,316},{132,122}}</string>
    <key>textureRotated</key>
    <false/>
    <key>triangles</key>
    <string>0 1 2 3 1 0 4 0 2 5 0 4 0 5 6 7 0 6 5 8 6 8 5 5 5 4 9 4 10 9 11 4 2 4 11 12 12 11 13</string>
    <key>vertices</key>
    <string>116 102 4 122 0 111 114 122 36 2 93 0 132 37 132 98 121 0 91 0 39 0 0 17 34 0 4 0</string>
    <key>verticesUV</key>
    <string>116 418 4 438 0 427 114 438 36 318 93 316 132 353 132 414 121 316 91 316 39 316 0 333 34 316 4 316</string>
   </dict>
   <key>mine.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{132,112}</string>
    <key>spriteSourceSize</key>
    <string>{132,112}</string>
    <key>textureRect</key>
    <string>{{214,260},{132,112}}</string>
    <key>textureRotated</key>
    <false/>
    <key>triangles</key>
    <string>0 1 2 3 0 2 0 3 4 5 0 4 4 6 5 2 7 3</string>
    <key>vertices</key>
    <string>99 112 0 112 0 56 40 0 95 0 132 94 132 16 7 23</string>
    <key>verticesUV</key>
    <string>313 372 214 372 214 316 254 260 309 260 346 354 346 276 221 283</string>
   </dict>
   <key>mine1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{132,112}</string>
    <key>spriteSourceSize</key>
    <string>{132,112}</string>
    <key>textureRect</key>
    <string>{{341,129},{132,112}}</string>
    <key>textureRotated</key>
    <false/>
    <key>triangles</key>
    <string>0 1 2 2 1 3 2 3 4 4 5 2 3 6 4 6 3 7</string>
    <key>vertices</key>
    <string>127 112 0 112 132 97 0 63 96 0 132 15 40 0 7 24</string>
    <key>verticesUV</key>
    <string>468 241 341 241 473 226 341 192 437 129 473 144 381 129 348 153</string>
   </dict>
   <key>redFlag0.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{28,22}</string>
    <key>spriteSourceSize</key>
    <string>{30,24}</string>
    <key>textureRect</key>
    <string>{{526,348},{28,22}}</string>
    <key>textureRotated</key>
    <false/>
    <key>triangles</key>
    <string>0 1 2 0 3 1</string>
    <key>vertices</key>
    <string>0 22 28 0 28 22 0 0</string>
    <key>verticesUV</key>
    <string>526 370 554 348 554 370 526 348</string>
   </dict>
   <key>redFlag1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{28,22}</string>
    <key>spriteSourceSize</key>
    <string>{30,24}</string>
    <key>textureRect</key>
    <string>{{214,605},{28,22}}</string>
    <key>textureRotated</key>
    <false/>
    <key>triangles</key>
    <string>0 1 2 0 3 1</string>
    <key>vertices</key>
    <string>0 22 28 0 28 22 0 0</string>
    <key>verticesUV</key>
    <string>214 627 242 605 242 627 214 605</string>
   </dict>
   <key>redFlag2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{28,22}</string>
    <key>spriteSourceSize</key>
    <string>{30,24}</string>
    <key>textureRect</key>
    <string>{{243,605},{28,22}}</string>
    <key>textureRotated</key>
    <false/>
    <key>triangles</key>
    <string>0 1 2 0 3 1</string>
    <key>vertices</key>
    <string>0 22 28 0 28 22 0 0</string>
    <key>verticesUV</key>
    <string>243 627 271 605 271 627 243 605</string>
   </dict>
   <key>redFlag3.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{28,23}</string>
    <key>spriteSourceSize</key>
    <string>{30,24}</string>
    <key>textureRect</key>
    <string>{{470,348},{28,23}}</string>
    <key>textureRotated</key>
    <false/>
    <key>triangles</key>
    <string>0 1 2 0 3 1</string>
    <key>vertices</key>
    <string>0 23 28 0 28 23 0 0</string>
    <key>verticesUV</key>
    <string>470 371 498 348 498 371 470 348</string>
   </dict>
   <key>selectedCircleBuilding.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{112,57}</string>
    <key>spriteSourceSize</key>
    <string>{112,57}</string>
    <key>textureRect</key>
    <string>{{0,557},{112,57}}</string>
    <key>textureRotated</key>
    <false/>
    <key>triangles</key>
    <string>0 1 2 0 3 1 0 4 3 5 1 3 1 5 6 1 6 7</string>
    <key>vertices</key>
    <string>0 51 65 57 2 57 12 0 0 7 105 0 112 10 112 49</string>
    <key>verticesUV</key>
    <string>0 608 65 614 2 614 12 557 0 564 105 557 112 567 112 606</string>
   </dict>
   <key>smoke0.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{30,26}</string>
    <key>spriteSourceSize</key>
    <string>{30,26}</string>
    <key>textureRect</key>
    <string>{{529,373},{30,26}}</string>
    <key>textureRotated</key>
    <false/>
    <key>triangles</key>
    <string>0 1 2 0 3 1</string>
    <key>vertices</key>
    <string>0 26 30 0 30 26 0 0</string>
    <key>verticesUV</key>
    <string>529 399 559 373 559 399 529 373</string>
   </dict>
   <key>smoke1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{30,25}</string>
    <key>spriteSourceSize</key>
    <string>{30,26}</string>
    <key>textureRect</key>
    <string>{{529,400},{30,25}}</string>
    <key>textureRotated</key>
    <false/>
    <key>triangles</key>
    <string>0 1 2 0 3 1</string>
    <key>vertices</key>
    <string>0 26 30 1 30 26 0 1</string>
    <key>verticesUV</key>
    <string>529 425 559 400 559 425 529 400</string>
   </dict>
   <key>smoke2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,1}</string>
    <key>spriteSize</key>
    <string>{26,24}</string>
    <key>spriteSourceSize</key>
    <string>{30,26}</string>
    <key>textureRect</key>
    <string>{{499,348},{26,24}}</string>
    <key>textureRotated</key>
    <false/>
    <key>triangles</key>
    <string>0 1 2 0 3 1</string>
    <key>vertices</key>
    <string>2 25 28 1 28 25 2 1</string>
    <key>verticesUV</key>
    <string>499 372 525 348 525 372 499 348</string>
   </dict>
   <key>statueHouse.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{106,117}</string>
    <key>spriteSourceSize</key>
    <string>{106,117}</string>
    <key>textureRect</key>
    <string>{{0,439},{106,117}}</string>
    <key>textureRotated</key>
    <false/>
    <key>triangles</key>
    <string>0 1 2 1 0 3 4 1 3 1 4 5 5 4 6 4 7 6</string>
    <key>vertices</key>
    <string>0 117 106 30 106 117 0 30 13 16 70 0 0 0 0 16</string>
    <key>verticesUV</key>
    <string>0 556 106 469 106 556 0 469 13 455 70 439 0 439 0 455</string>
   </dict>
   <key>tree3_0.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{75,75}</string>
    <key>spriteSourceSize</key>
    <string>{75,75}</string>
    <key>textureRect</key>
    <string>{{474,129},{75,75}}</string>
    <key>textureRotated</key>
    <false/>
    <key>triangles</key>
    <string>0 1 2 0 2 3 4 3 2 4 3 4 5 3 4</string>
    <key>vertices</key>
    <string>75 75 2 75 0 68 75 2 0 0 74 0</string>
    <key>verticesUV</key>
    <string>549 204 476 204 474 197 549 131 474 129 548 129</string>
   </dict>
   <key>tree3_1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{4,0}</string>
    <key>spriteSize</key>
    <string>{71,75}</string>
    <key>spriteSourceSize</key>
    <string>{75,75}</string>
    <key>textureRect</key>
    <string>{{462,477},{71,75}}</string>
    <key>textureRotated</key>
    <false/>
    <key>triangles</key>
    <string>0 1 2 1 3 2 2 3 4 3 5 4 3 6 5 6 6 5</string>
    <key>vertices</key>
    <string>74 75 4 75 75 73 4 26 75 8 71 0 7 0</string>
    <key>verticesUV</key>
    <string>532 552 462 552 533 550 462 503 533 485 529 477 465 477</string>
   </dict>
   <key>tree3_2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{4,0}</string>
    <key>spriteSize</key>
    <string>{71,75}</string>
    <key>spriteSourceSize</key>
    <string>{75,75}</string>
    <key>textureRect</key>
    <string>{{390,477},{71,75}}</string>
    <key>textureRotated</key>
    <false/>
    <key>triangles</key>
    <string>0 1 2 0 2 3 3 4 0 2 5 3</string>
    <key>vertices</key>
    <string>75 75 13 75 4 57 25 0 75 0 4 15</string>
    <key>verticesUV</key>
    <string>461 552 399 552 390 534 411 477 461 477 390 492</string>
   </dict>
   <key>tree3_3.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{71,75}</string>
    <key>spriteSourceSize</key>
    <string>{75,75}</string>
    <key>textureRect</key>
    <string>{{314,553},{71,75}}</string>
    <key>textureRotated</key>
    <false/>
    <key>triangles</key>
    <string>0 1 2 0 2 3 3 4 0 3 2 5 3 5 6</string>
    <key>vertices</key>
    <string>71 75 5 75 0 66 52 0 71 7 0 7 3 0</string>
    <key>verticesUV</key>
    <string>385 628 319 628 314 619 366 553 385 560 314 560 317 553</string>
   </dict>
   <key>tree3_4.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{75,75}</string>
    <key>spriteSourceSize</key>
    <string>{75,75}</string>
    <key>textureRect</key>
    <string>{{314,477},{75,75}}</string>
    <key>textureRotated</key>
    <false/>
    <key>triangles</key>
    <string>0 1 2 0 2 3 3 4 0 3 2 5 3 5 6</string>
    <key>vertices</key>
    <string>75 75 5 75 0 66 49 0 75 12 0 7 3 0</string>
    <key>verticesUV</key>
    <string>389 552 319 552 314 543 363 477 389 489 314 484 317 477</string>
   </dict>
   <key>trigger.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{31,45}</string>
    <key>spriteSourceSize</key>
    <string>{31,45}</string>
    <key>textureRect</key>
    <string>{{175,186},{31,45}}</string>
    <key>textureRotated</key>
    <false/>
    <key>triangles</key>
    <string>0 1 2 3 0 2 1 4 2 1 5 4</string>
    <key>vertices</key>
    <string>1 45 0 25 31 42 29 45 31 0 0 0</string>
    <key>verticesUV</key>
    <string>176 231 175 211 206 228 204 231 206 186 175 186</string>
   </dict>
   <key>underConstrunction0.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,21}</string>
    <key>spriteSize</key>
    <string>{99,114}</string>
    <key>spriteSourceSize</key>
    <string>{99,135}</string>
    <key>textureRect</key>
    <string>{{107,439},{99,114}}</string>
    <key>textureRotated</key>
    <false/>
    <key>triangles</key>
    <string>0 1 2 3 0 2 4 0 3 3 2 5 2 6 5 2 1 7 2 7 8</string>
    <key>vertices</key>
    <string>32 135 0 123 81 51 99 119 86 135 99 38 90 36 0 21 63 21</string>
    <key>verticesUV</key>
    <string>139 553 107 541 188 469 206 537 193 553 206 456 197 454 107 439 170 439</string>
   </dict>
   <key>underConstrunction1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{99,135}</string>
    <key>spriteSourceSize</key>
    <string>{99,135}</string>
    <key>textureRect</key>
    <string>{{214,373},{99,135}}</string>
    <key>textureRotated</key>
    <false/>
    <key>triangles</key>
    <string>0 1 2 3 0 2 4 0 3 4 3 5 3 6 5 2 7 3 7 8 3 7 9 8 7 10 9 10 11 9 12 8 9 8 13 3 2 1 14 2 14 15</string>
    <key>vertices</key>
    <string>23 135 0 112 24 56 82 52 99 135 99 39 92 37 33 45 53 24 7 0 0 18 0 4 46 0 64 21 0 33 13 31</string>
    <key>verticesUV</key>
    <string>237 508 214 485 238 429 296 425 313 508 313 412 306 410 247 418 267 397 221 373 214 391 214 377 260 373 278 394 214 406 227 404</string>
   </dict>
   <key>undergroundBunker.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{4,4}</string>
    <key>spriteSize</key>
    <string>{85,51}</string>
    <key>spriteSourceSize</key>
    <string>{93,59}</string>
    <key>textureRect</key>
    <string>{{474,205},{85,51}}</string>
    <key>textureRotated</key>
    <false/>
    <key>triangles</key>
    <string>0 1 2 3 1 0 3 4 1 1 4 5 1 5 6</string>
    <key>vertices</key>
    <string>4 15 31 55 4 53 11 4 77 4 89 21 89 55</string>
    <key>verticesUV</key>
    <string>474 216 501 256 474 254 481 205 547 205 559 222 559 256</string>
   </dict>
   <key>watcherTower.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{70,107}</string>
    <key>spriteSourceSize</key>
    <string>{70,107}</string>
    <key>textureRect</key>
    <string>{{133,316},{70,107}}</string>
    <key>textureRotated</key>
    <false/>
    <key>triangles</key>
    <string>0 1 2 1 3 2 2 3 4 4 3 5 5 6 4</string>
    <key>vertices</key>
    <string>66 107 0 107 70 91 0 12 70 8 18 0 61 0</string>
    <key>verticesUV</key>
    <string>199 423 133 423 203 407 133 328 203 324 151 316 194 316</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{562,629}</string>
   <key>textureFileName</key>
   <string>cartoonCraftBuilding.png</string>
  </dict>
 </dict>
</plist>
