<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>bird0.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,-27}</string>
    <key>spriteSize</key>
    <string>{79,99}</string>
    <key>spriteSourceSize</key>
    <string>{189,153}</string>
    <key>textureRect</key>
    <string>{{394,1472},{79,99}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bird1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-13}</string>
    <key>spriteSize</key>
    <string>{189,80}</string>
    <key>spriteSourceSize</key>
    <string>{189,153}</string>
    <key>textureRect</key>
    <string>{{0,1472},{189,80}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bird2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,9}</string>
    <key>spriteSize</key>
    <string>{149,134}</string>
    <key>spriteSourceSize</key>
    <string>{189,153}</string>
    <key>textureRect</key>
    <string>{{886,1413},{149,134}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>cartoonyExplosion0.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{5,16}</string>
    <key>spriteSize</key>
    <string>{58,57}</string>
    <key>spriteSourceSize</key>
    <string>{260,239}</string>
    <key>textureRect</key>
    <string>{{1037,1413},{58,57}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>cartoonyExplosion1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{6,14}</string>
    <key>spriteSize</key>
    <string>{74,79}</string>
    <key>spriteSourceSize</key>
    <string>{260,239}</string>
    <key>textureRect</key>
    <string>{{763,1468},{74,79}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>cartoonyExplosion10.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,-2}</string>
    <key>spriteSize</key>
    <string>{252,233}</string>
    <key>spriteSourceSize</key>
    <string>{260,239}</string>
    <key>textureRect</key>
    <string>{{1008,716},{252,233}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>cartoonyExplosion11.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{4,-1}</string>
    <key>spriteSize</key>
    <string>{238,213}</string>
    <key>spriteSourceSize</key>
    <string>{260,239}</string>
    <key>textureRect</key>
    <string>{{523,1344},{238,213}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>cartoonyExplosion12.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{3,-3}</string>
    <key>spriteSize</key>
    <string>{218,200}</string>
    <key>spriteSourceSize</key>
    <string>{260,239}</string>
    <key>textureRect</key>
    <string>{{1112,1194},{218,200}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>cartoonyExplosion13.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,-4}</string>
    <key>spriteSize</key>
    <string>{208,194}</string>
    <key>spriteSourceSize</key>
    <string>{260,239}</string>
    <key>textureRect</key>
    <string>{{1354,1164},{208,194}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>cartoonyExplosion2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{6,13}</string>
    <key>spriteSize</key>
    <string>{104,102}</string>
    <key>spriteSourceSize</key>
    <string>{260,239}</string>
    <key>textureRect</key>
    <string>{{191,1472},{104,102}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>cartoonyExplosion3.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{5,8}</string>
    <key>spriteSize</key>
    <string>{156,145}</string>
    <key>spriteSourceSize</key>
    <string>{260,239}</string>
    <key>textureRect</key>
    <string>{{1531,164},{156,145}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>cartoonyExplosion4.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,8}</string>
    <key>spriteSize</key>
    <string>{200,190}</string>
    <key>spriteSourceSize</key>
    <string>{260,239}</string>
    <key>textureRect</key>
    <string>{{1354,1360},{200,190}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>cartoonyExplosion5.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{8,9}</string>
    <key>spriteSize</key>
    <string>{214,213}</string>
    <key>spriteSourceSize</key>
    <string>{260,239}</string>
    <key>textureRect</key>
    <string>{{1508,475},{214,213}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>cartoonyExplosion6.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{6,3}</string>
    <key>spriteSize</key>
    <string>{224,217}</string>
    <key>spriteSourceSize</key>
    <string>{260,239}</string>
    <key>textureRect</key>
    <string>{{886,1194},{224,217}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>cartoonyExplosion7.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,4}</string>
    <key>spriteSize</key>
    <string>{236,230}</string>
    <key>spriteSourceSize</key>
    <string>{260,239}</string>
    <key>textureRect</key>
    <string>{{1270,475},{236,230}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>cartoonyExplosion8.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,4}</string>
    <key>spriteSize</key>
    <string>{250,231}</string>
    <key>spriteSourceSize</key>
    <string>{260,239}</string>
    <key>textureRect</key>
    <string>{{886,961},{250,231}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>cartoonyExplosion9.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{260,239}</string>
    <key>spriteSourceSize</key>
    <string>{260,239}</string>
    <key>textureRect</key>
    <string>{{1008,475},{260,239}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>cartoonyFastExplosion0.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-19,2}</string>
    <key>spriteSize</key>
    <string>{361,381}</string>
    <key>spriteSourceSize</key>
    <string>{543,515}</string>
    <key>textureRect</key>
    <string>{{523,961},{361,381}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>cartoonyFastExplosion1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{4,-17}</string>
    <key>spriteSize</key>
    <string>{473,429}</string>
    <key>spriteSourceSize</key>
    <string>{543,515}</string>
    <key>textureRect</key>
    <string>{{1056,0},{473,429}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>cartoonyFastExplosion2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{6,3}</string>
    <key>spriteSize</key>
    <string>{485,457}</string>
    <key>spriteSourceSize</key>
    <string>{543,515}</string>
    <key>textureRect</key>
    <string>{{0,1013},{485,457}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>cartoonyFastExplosion3.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{6,-6}</string>
    <key>spriteSize</key>
    <string>{531,473}</string>
    <key>spriteSourceSize</key>
    <string>{543,515}</string>
    <key>textureRect</key>
    <string>{{523,0},{531,473}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>cartoonyFastExplosion4.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-5}</string>
    <key>spriteSize</key>
    <string>{521,504}</string>
    <key>spriteSourceSize</key>
    <string>{543,515}</string>
    <key>textureRect</key>
    <string>{{0,0},{521,504}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>cartoonyFastExplosion5.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-9,5}</string>
    <key>spriteSize</key>
    <string>{519,505}</string>
    <key>spriteSourceSize</key>
    <string>{543,515}</string>
    <key>textureRect</key>
    <string>{{0,506},{519,505}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>cartoonyFastExplosion6.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-9,5}</string>
    <key>spriteSize</key>
    <string>{519,505}</string>
    <key>spriteSourceSize</key>
    <string>{543,515}</string>
    <key>textureRect</key>
    <string>{{0,506},{519,505}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>cartoonyFastExplosion7.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-3,2}</string>
    <key>spriteSize</key>
    <string>{483,484}</string>
    <key>spriteSourceSize</key>
    <string>{543,515}</string>
    <key>textureRect</key>
    <string>{{523,475},{483,484}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>cartoonyFastExplosion8.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{92,230}</string>
    <key>spriteSize</key>
    <string>{13,12}</string>
    <key>spriteSourceSize</key>
    <string>{543,515}</string>
    <key>textureRect</key>
    <string>{{487,1013},{13,12}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>cartoonyHitEffect0.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,-2}</string>
    <key>spriteSize</key>
    <string>{75,73}</string>
    <key>spriteSourceSize</key>
    <string>{127,127}</string>
    <key>textureRect</key>
    <string>{{1564,1164},{75,73}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>cartoonyHitEffect1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{7,-3}</string>
    <key>spriteSize</key>
    <string>{95,104}</string>
    <key>spriteSourceSize</key>
    <string>{127,127}</string>
    <key>textureRect</key>
    <string>{{297,1472},{95,104}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>cartoonyHitEffect2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,0}</string>
    <key>spriteSize</key>
    <string>{121,122}</string>
    <key>spriteSourceSize</key>
    <string>{127,127}</string>
    <key>textureRect</key>
    <string>{{763,1344},{121,122}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>cartoonyHitEffect3.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{127,127}</string>
    <key>spriteSourceSize</key>
    <string>{127,127}</string>
    <key>textureRect</key>
    <string>{{1557,961},{127,127}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>fog_201.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{201,201}</string>
    <key>spriteSourceSize</key>
    <string>{201,201}</string>
    <key>textureRect</key>
    <string>{{1354,961},{201,201}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>hitWithCircle0.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{8,-4}</string>
    <key>spriteSize</key>
    <string>{54,57}</string>
    <key>spriteSourceSize</key>
    <string>{374,231}</string>
    <key>textureRect</key>
    <string>{{1037,1472},{54,57}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>hitWithCircle1.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{48,-2}</string>
    <key>spriteSize</key>
    <string>{156,133}</string>
    <key>spriteSourceSize</key>
    <string>{374,231}</string>
    <key>textureRect</key>
    <string>{{1531,311},{156,133}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>hitWithCircle2.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{55,0}</string>
    <key>spriteSize</key>
    <string>{176,162}</string>
    <key>spriteSourceSize</key>
    <string>{374,231}</string>
    <key>textureRect</key>
    <string>{{1531,0},{176,162}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>hitWithCircle3.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{68,-1}</string>
    <key>spriteSize</key>
    <string>{204,187}</string>
    <key>spriteSourceSize</key>
    <string>{374,231}</string>
    <key>textureRect</key>
    <string>{{1112,1396},{204,187}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>hitWithCircle4.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{70,0}</string>
    <key>spriteSize</key>
    <string>{212,203}</string>
    <key>spriteSourceSize</key>
    <string>{374,231}</string>
    <key>textureRect</key>
    <string>{{1476,716},{212,203}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>hitWithCircle5.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{75,1}</string>
    <key>spriteSize</key>
    <string>{214,218}</string>
    <key>spriteSourceSize</key>
    <string>{374,231}</string>
    <key>textureRect</key>
    <string>{{1138,961},{214,218}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>hitWithCircle6.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{81,0}</string>
    <key>spriteSize</key>
    <string>{212,231}</string>
    <key>spriteSourceSize</key>
    <string>{374,231}</string>
    <key>textureRect</key>
    <string>{{1262,716},{212,231}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{1724,1585}</string>
   <key>textureFileName</key>
   <string>cartoonCraftEffect.png</string>
  </dict>
 </dict>
</plist>
